- use_kindeditor
%h2#title 新 增 页 面
#action-links
  %ul
    %li.no-icon=link_to '取消', pages_path
.group(style="margin-top:0")
  =form_for page do |f|
    #page-form.group-fields
      %dl
        %dt=f.label :title
        %dd
          =f.text_field :title, class: [:big, :sb]
          =f.hidden_field :handle
        %dt
          %label(for="page_body_html") 编写您的页面
        %dd(style="margin-bottom:0")=f.text_area :body_html, id: 'kindeditor'
    .group-actions
      %input#submit-page-btn.btn(name="commit" type="submit" value="保存")
      或者
      = link_to '取消', pages_path

:javascript
  task_name = 'add_content';
