-use_javascripts 'models/comment', 'collections/comments', 'views/comments/index', 'views/comments/show', 'controllers/comments'
%table#comments-list.standard-table.hide_checkboxes{:cellpadding => "0", :cellspacing => "0"}
  %thead
    %tr
      %th.checkbox{:width => "5%"}
        %input#select-all{:type => "checkbox"}/
      %th{:width => "17%"} 评论人
      %th{:width => "55%"} 内容
      %th{:width => "22%"} &nbsp;
  %tbody
    %tr.more-comments
      %td{:colspan => "3"}=link_to "管理所有评论", comments_path,class: 'view-all-comments'
=render partial: 'comments/comment_template'
:javascript
  App.init = function(){
    new App.Controllers.Comments();
    Backbone.history.start();
  }

  App.comments = new App.Collections.Comments();
  App.comments.refresh(#{comments.to_json({include:{article: {only: [:id,:blog_id,:title]}}})});
  new App.Views.Comment.Index({collection: App.comments})
