%h2#title ShopQi API
#action-links
  %ul
%h3 私有程序
%p
  私有程序是通过使用ShopQi API 来与商店进行交互的一种方式。
  %br/
  通过使用它们建立自动任务，能更方便使用商店
  %br/
  -#%a{:href => "http://wiki.shopqi.com/Private_apps", :target => "_blank"} 查看私有程序帮助文档
%br/
%p#new-api
  %a.btn 生成新的程序
%script(id="show-api-client-item" type="text/html")
  %h3.with-settings
    {{{ title }}}
    %a.del(href='#')=image_tag('admin/icons/trash.gif')
  %table.aligned.compact
    %tr
      %td.l api key
      %td {{{ api_key }}}
    %tr
      %td.l 密码
      %td {{{ password }}}
    %tr
      %td.l 共享密钥
      %td {{{ shared_secret }}}
    %tr
      %td.l URL格式
      %td https://apikey:password@hostname/api/resource.xml
:javascript
  App.api_clients = new App.Collections.ApiClients();
  App.api_clients.refresh(#{api_clients_json});
  new App.Views.ApiClient.Index({collection: App.api_clients})

