/ begin: edit Link List items
=form_tag '#', :id => "edit_link_list_${id}" do
  .section-header 修改这个链接列表
  .link-list-edit-header
    %dl.padding.nst.nsb.nsl.nsr
      %dt.nst 名称
      %dd=text_field_tag "link_list[title]", '${title}', :class => "bit sb"
      %dt
        持久/处理
        %span.note
          (
          =link_to "这是什么?", "http://wiki.shopqi.com/Handle", :target => :_blank
          )
      %dd
        =text_field_tag "link_list[handel]", '${handel}', :disabled => true
        %span.hint 默认链接列表的处理是不能修改的
  .hint.padding(style="{{if false}}display:none{{/if}}") 此链接列表未新增链接.
  .link-header.link-header-edit.nobull.st(id="edit_form_header_link_list_${id}" style="{{if true}}display:none{{/if}}")
    %span 链接名称
    %span 链接至
  %ul.nobull.st.sr.ssb.sl(id="edit_form_link_list_${id}" style="{{if true}}display:none{{/if}}")
  .section-submit
    %input.btn(name="commit" type="submit" value="保存")
    或者
    %a.cancel(href="#") 取消
