#add-menu.box2{ :style => "display:none" }
  =form_for link_list do |f|
    %h3.sb 添加一个链接列表
    %p
      %label{ :for => "list_title" } 标题
    %p.ssb=f.text_field :title, :class => "long"
    %p.btn-divider
      %input.btn{ :name => "commit", :type => "submit", :value => "新增链接列表" }
      或者
      %a.cancel{ :href => "#" } 取消
