/ begin: default Link List items
%div(id="default_container_link_list_${id}")
  .section-header
    %p.list-actions
      %a.editlist-action{ :href => '#link_lists/${id}/edit', :style => "padding-left: 14px;" } 修改链接列表
      {{if !system_default}}
      |
      %a.destroy(href='#' title='删除链接列表')
        %img(alt='删除' src='/images/admin/icons/trash.gif')
      {{/if}}
    %span{ :title => "handle: main-menu" } ${title}
    %span.hint {{if system_default}}这是默认链接列表，不能删除{{/if}}
  .hint.padding(style="{{if false}}display:none{{/if}}") 此链接列表未新增链接.
  .link-header.st.sl.sr(style="{{if true}}display:none{{/if}}")
    %span.sl 链接名称
    %span.sl 链接路径
  %ul.nobull.sr.ssb(style="{{if true}}display:none{{/if}}")
%div(id="add_form_link_container_link_list_${id}")
  = render :partial => "links/new", :locals => { :link => link, :link_list => link_list, :link_types => link_types }
%div(id="edit_form_link_container_link_list_${id}" style="display:none;")
