=content_for :javascripts do
  =javascript_include_tag 'backbone/views/link_lists/links/index', 'backbone/views/link_lists/links/show', 'backbone/views/link_lists/links/new', 'backbone/views/link_lists/links/edit', 'backbone/views/link_lists/index', 'backbone/views/link_lists/show', 'backbone/views/link_lists/edit', 'backbone/views/link_lists/new', 'backbone/models/link','backbone/models/link_list'

%h2#title 商店导航
#action-links
  %ul
    %li#new-menu
      %a(href="#") 新增链接列表
=render "shared/noscript"
=render "shared/upgrade_ie"
#add-menu.box2(style="display:none")
  %form(action="/admin/links/add_list" onsubmit="return false")
    %h3.sb 添加一个链接列表
    %p
      %label(for="list_title") 标题
    %p.ssb
      %input#list_title.long(name="title" type="text" value="")
    %p.btn-divider
      %input.btn(name="commit" type="submit" value="保存")
      或者
      %a.cancel(href="#") 取消
#link-lists
  %h3.st.sb 链接列表
  %p.note.ssb
    当您添加一个新的链接列表，需要在外观主题中包含它才能显示出来.
    %br/
    要让这个链接列表显示在商店页面，请在
    %a(href="/admin/themes/current") 模板编辑器
    中修改模板.
  .section
    %ul#menus.nobull.st

%script(id="link-list-item" type="text/x-handlebars-template")
  / begin: default Link List items
  .default_container_link_list
    .section-header
      %p.list-actions
        %a.editlist-action(href="#" style="padding-left: 14px;") 修改链接列表
        {{#unless system_default}}
        |
        %a.destroy(href="#")=image_tag 'admin/icons/trash.gif'
        {{/unless}}
      %span(title="handle: {{{handle}}}") {{{title}}}
      %span.hint {{#if system_default}}这是默认链接列表，不能删除.{{/if}}
    .none_link_list.hint.padding(style="{{#unless is_empty_links}}display: none{{/unless}}") 此链接列表还没有加入任何链接
    .link-header.st.sl.sr(style="{{#if is_empty_links}}display: none{{/if}}")
      %span.sl 链接名称
      %span.sl 链接路径
    %ul.nobull.sr.ssb.links(style="{{#if is_empty_links}}display: none{{/if}}")
  / begin: add new Link
  .add_form_link_container
    .action-row
      .action-link
        %p
          %a(href="#")
            %span.plus +
            新增链接
    .link(style="display:none;")
      .group
        %form(action="#" onsubmit="return false")
          .group-fields
            .add-link-title.link-col
              %span.add-link-header 新链接的名称
              %input.medium(name="title" type="text")
            .add-link-linksto.link-col
              %span.add-link-header 链接至
              %select.selector(name="link_type")
                =options_for_select link_types
              %select.subject(name="subject_handle")
              %input.medium.subject_params.linkform-hint(data-hint="Filter by tags (comma separated)" name="subject_params" type="text" style="display:none")
              %input.long.subject_http.linkform-hint(data-hint="http://shopify.com" name="url" type="text" style="display:none")
          / .group-fields
          .group-actions
            %input.btn(name="commit" type="submit" value="新增链接")
            或者
            %a.cancel(href="#") 取消
          / .group-actions
      / .group
  / begin: edit Link List items
  .edit_form_link_container(style="display:none;")
%script(id="link-item" type="text/x-handlebars-template")
  =image_tag 'admin/icons/drag_handle.gif', class: [:image_handle, :nsr]
  %span.link-title
    %a(href="{{{url}}}") {{{title}}}
  %span.link-url {{{url}}}
%script(id="edit_form_link_container-item" type="text/x-handlebars-template")
  %form.edit_link_list(action="#" onsubmit="return false")
    .section-header 修改这个链接列表
    .link-list-edit-header
      %dl.padding.nst.nsb.nsl.nsr
        %dt.nst 名称
        %dd
          %input.big.sb(name="link_list[title]" size="30" type="text" value="{{{title}}}")
        %dt
          链接句柄
          %span.note
            (
            %a(href="#{Setting.wiki_url}/Handle" target="_blank")> 这是什么?
            )
        %dd
          {{#if system_default}}
          %input(disabled="disabled" name="link_list[handle]" size="30" type="text" value="{{{handle}}}")
          %span.hint 默认链接列表的处理是不能修改的
          {{else}}
          %input(name="link_list[handle]" size="30" type="text" value="{{{handle}}}")
          {{/if}}
    .link-header.link-header-edit.nobull.st
      %span 链接名称
      %span 链接至
    / edit-link
    %ul.nobull.st.sr.ssb.sl.edit_links
    .group-actions
      %input.btn(name="commit" type="submit" value="保存")
      或者
      %a.cancel(href="#") 取消
%script(id="edit-link-item" type="text/x-handlebars-template")
  %a.delete.fr(href="#")=image_tag 'admin/icons/trash.gif'
  %input(name="id" type="hidden" value="{{{id}}}")
  %input.medium(name="title" size="30" type="text" value="{{{title}}}")
  %select.selector.sl(name="link_type" value="{{{link_type}}}")
    =options_for_select link_types
  %select.subject(name="subject_handle" style="display: none" value="{{{subject_handle}}}")
  %input.medium.subject_params.linkform-hint.hide(data-hint="根据标签过滤(以逗号分隔)" name="subject_params" size="30" type="text" value="{{{subject_params}}}")
  %input.long.subject_http.linkform-hint.hide(data-hint="http://shopify.com" name="url" size="30" type="text" value="{{{url}}}")
%script(id="selector-blog-item" type="text/x-handlebars-template")
  =options_for_select blog_types
%script(id="selector-collection-item" type="text/x-handlebars-template")
  =options_for_select collection_types
%script(id="selector-page-item" type="text/x-handlebars-template")
  =options_for_select page_types
%script(id="selector-product-item" type="text/x-handlebars-template")
  =options_for_select product_types

:javascript
  App.link_lists = new App.Collections.LinkLists();
  //根据backbone文档，使用refresh方法进行初始化(而非fetch)，避免数据未加载完成，导致类似#linklists/1路由失效
  App.link_lists.refresh(#{link_lists_json});
  new App.Views.LinkList.Index({collection: App.link_lists})
