%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
  %head
    %meta(http-equiv="content-type" content="text/html; charset=UTF-8")
    = stylesheet_link_tag "admin"
    = javascript_include_tag :admin_application, 'backbone/views/assets/index/edit'
    = csrf_meta_tag
  %body
    #asset-details
      %input#save-button.btn(type="button" value="保存")
      %h3#asset-title
      %span#asset-info
      #template-editor

  :javascript
    new App.Views.Asset.Index.Edit();
