#关键配置文件(newrelic.yml无example，得自行从newrelic官网注册下载)
config/sms.yml
config/alipay.yml
config/admin_users.yml
config/newrelic.yml

.bundle
db/*.sqlite3
log/*
logfile
tmp/*
tmp/**/*

#去掉precompile到生产环境的目录
public/assets/**

#上传的图片
public/system/dragonfly/**

#不上传sphinx conf文件
config/*.sphinx.conf

#vagrant
.vagrant
*.box
config/unicorn.conf.rb

.rvmrc

#bundle deployment
vendor/bundle

#compass
.sass-cache/

#OSX产生的文件夹Finder信息
.DS_Store
public/.DS_Store
public/images/.DS_Store
public/stylesheets/.DS_Store

#主题
public/s/files

#全文检索Sunspot
solr/data
# 运营的数据文件
data/wiki

#redis
dump.rdb
