%table.standard-table.ssb{:cellspacing => "0", :style => "margin-bottom: 40px"}
  %thead
    %tr
      %th{:width => "20%"}==#{blog.title}  文章
      %th{:width => "10%"} 评论
      %th{:width => "17%"} 标签
      %th{:width => "13%"} 作者
      %th{:width => "8%"} 更新时间
      %th{:width => "5%"} &nbsp;
  %tbody
    -articles = blog.articles
    =render partial: 'articles/article' , collection: articles, locals: {blog: blog}
    %tr.last-article
      %td{:colspan => "6"}=link_to "管理 #{blog.title}", blog_path(blog),class: 'view-all-articles'
