%h2#title
  =link_to blog.title,blog_path(blog)
#action-links
  %ul
    %li#add-entry.icon
      =link_to "新增文章",new_blog_article_path(blog)
    %li.no-icon
      =link_to "修改",edit_blog_path(blog),id:"blog-edit-link"
    %li.no-icon
      = link_to image_tag('admin/icons/trash.gif'), blog_path(blog), remote: true, method: :delete, confirm: '您确定要删除?', title: '删除它', class: :del
/ begin action_links
#blog-show
  %p.note.r{:style => "margin-bottom: 5px"}
    ==此博客有#{articles.size}篇文章
  #articles
    #page-list{:style => ""}
      %table.standard-table.ssb{:cellspacing => "0"}
        %thead
          %tr
            %th{:width => "20%"}==文章
            %th{:width => "10%"} 评论
            %th{:width => "17%"} 标签
            %th{:width => "13%"} 作者
            %th{:width => "8%"} 更新时间
            %th{:width => "5%"} &nbsp;
        %tbody=render articles
  / PAGINATION LINKS
  #btm-nav.act-screen
    #pagination
  / Required arguments: parent, counts
  -#=render partial:"comments"
