#custom-collections.pgroup.sst
  %h3 自定义集合
  %table.collection-list
    %tr
      %td.collection
        %a(href="/admin/custom_collections/3650022" title="handle: frontpage")
          Frontpage
        %span.status-hidden(style="margin:0")
          hidden
        %p
          7 products
        %p
      %td
        \&nbsp;
      %td
        \&nbsp;
  #pagination
