%h2#title 商品集合
#action-links
  %ul
    %li#new-std-lbl=link_to "新增自定义集合", new_custom_collection_path
    %li#new-smt-lbl=link_to "新增智能集合", new_smart_collection_path
=render 'smart_collections/index'
=render 'custom_collections/index'
