#banner
  .content
    %h1 关于我们
.content.subpage
  #about.col-8
    %h2 公司介绍
    %p ShopQi是深圳市索奇电子商务有限公司开发的一站式电子商务在线软件，企业用户只需花几分钟注册一个帐号，就拥有一个在线商店；后台管理中包含商品管理、订单管理、顾客管理等大多数电子商务常用功能。
    %p ShopQi区别于普通的电子商务软件，引入国际先进的软件即服务技术，不需要安装，企业用户使用我们提供的服务，也不需要再担心服务器硬件、数据安全、数据备份等技术细节。
    %p 我们将自身定位为企业用户内部的技术部门，为企业用户提供高效及时的技术服务。
    %h3 对外合作
    %p 索奇本着开放、平等的合作态度，积极探求各种合作模式，希望与各个领域的成功企业达成双赢互利的合作伙伴关系。
    %h3 联系方式
    %p
      Email：
      =link_to 'admin@shopqi.com', 'mailto:admin@shopqi.com'
    %p 公司电话：详见页面右下角的[联系我们]
    %p 公司地址：深圳市福田区梅华路105号多丽科技楼11层1102房
