!!!
%html(lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml")
  %head
    %meta(content="text/html; charset=utf-8" http-equiv="Content-Type")/
    %title 服务条款 - ShopQi
    = stylesheet_link_tag "layout_shopqi"

  %body
    #wrapper
      #agreement.content.subpage
        .col-8
          %h2 ShopQi服务条款
          %h3 1. 关于
          %p 本服务条款是您与深圳市索奇电子商务有限公司（下称索奇）之间的协议。ShopQi.com（下称本服务） 是由索奇提供的互联网软件服务。在本服务创建账户并使用之前，您必须首先同意此条款。
          %p 此条款在必要时将进行修订，且毋须另行通知。修订后的条款一旦在网页上公布即有效代替原来的服务条款。
          %h3 2. 帐户
          %p 您同意并理解您有责任将您与用于获得服务的任何帐户相关的密码保密。您负责对您账户下发生的所有的行为和内容负责。
          %h3 3. 支付
          %p 您注册本服务或其中某服务，即表示您同意支付其中的所有费用。
          %p 索奇可能要求您提供经我们认可的发卡机构发行的信用卡卡号来激活您的服务，和/或支付服务的任何相关费用。索奇将从您提供的帐户或信用卡帐户中收取使用费及其他费用。如果授权索奇通过信用卡收取您的账户相关费用，即表示您授权索奇自动从该卡持续扣除账户相关的所有费用。
          %p 除非因为索奇方面的问题导致本服务无法正常提供，您支付的有关本服务的所有费用均不能退款。
          %h3 4. 内容和版权
          %p 索奇对您在本服务提交的内容没有所有权，这些内容的所有权仍然归您所有。但是，如果您将页面设置为公开，就意味着您允许其他人查看和共享您的内容。
          %p 您明白索奇对他人提供的任何内容不在任何方面负责或负有责任，索奇没有义务预先审查此类内容。但是，索奇有权随时决定内容是否合适和与本条款相符；如果发现此类内容违反本条款或在其他方面令人反感，索奇可随时并有绝对酌情权预先审查、转移、拒绝、修改和/或删除内容，而不需事先通知。
          %p 本服务的外观设计与专利归索奇所有。未经索奇书面许可，您不能复制、拷贝，或者重用任何部分代码和外观设计。
          %h3 5. 隐私政策
          %p 使用本服务，即表示您同意索奇合法收集和使用有关您及您所使用本服务的技术性或诊断性信息。收集到的这些信息将用于改进网页的内容，提升我们的服务品质。
          %p 索奇不会将您的信息和内容分享或出售给其他的组织。但以下情况除外：
          %ul
            %li 您同意让第三方共享资料；
            %li 索奇需要听从法庭传票、法律命令或遵循法律程序；
            %li 您违反了本条款。
          %h3 6. 服务终止
          %p 您可随时终止您的帐户和/或停用本服务。您在服务终止前支付的任何费用均不能退还（除本服务条款另有明文允许者除外）
          %p 索奇可能在某些情况下，不需事先通知，立即终止或暂停您所有或部分帐户和/或本服务之进入。此类服务终止的原因包括但不限于：
          %ul
            %li 违反本服务条款；
            %li 您要求取消或终止您的帐户；
            %li 需要听从法庭传票、法律命令或遵循法律程序；
            %li 突发的自然灾害导致的问题；
            %li 您没有支付与本服务相关的费用。
          %p 一旦您的帐户被终止，您将无法正常使用本服务。此外，您可以选择删除您账户下的所有信息和内容。
          %h3 &nbsp;
          %p
            ©深圳市索奇电子商务有限公司 对于本协议内容拥有最终解释权和修订权。
