- @current_faq = :current

#banner
  .content
    %h1 常见问题
    -#
      #contact-us
        %a.emailus(href="/contact/") 发邮件
        %span#chat-on.chat-on(style="display:none")
          %a.livechat.hotspot(href="/contact") 实时交流
        %span#chat-off
.content.subpage
  .col-6
    %h3 入门
    %ul
      %li
        %a(href="#what-shopqi-does") ShopQi能做什么?
      %li
        %a(href="#what-shopqi-doesnt-do")
          ShopQi
          %em 不能
          做什么?
      %li
        %a(href="#installation") 要怎么安装ShopQi?
      %li
        %a(href="#what-you-need") 开始销售商品前我需要准备些什么?
      %li
        %a(href="#custom-domains") 我的商店可以使用自己的域名吗?
      %li
        %a(href="#languages") 支持哪些语言?
    %h3 设计您的商店
    %ul
      %li
        %a(href="#changing-designs") 需要设计师或者程序员才能修改我们的商店外观吗?
    %h3 订单与物流
    %ul
      %li
        %a(href="#order-process") 当我收到订单时我要做些什么?
  .col-6.last
    %h3 支付方式
    %ul
      %li
        %a(href="#customer-payment-methods") 我的顾客能使用哪些支付方式?
      %li
        %a(href="#payment-gateways") 什么是支付网关?
      %li
        %a(href="#manual-payments") 支持线下付款吗?
    %h3 您的帐号
    %ul
      %li
        %a(href="#cost") 使用ShopQi的费用是多少?
    -#
      %h3 还有疑问?
      %ul
        %li
          更多答案可以在
          %a(href="#{wiki_url_with_port}") 我们的文档
          中找到
        %li
          或者您也可以
          %a(href="/contact") 联系我们
  %hr/
  #faq.col-8
    %h2#getting-started
      入门
      %span.back-to-top
        %a(href="#wrapper") 回到顶部
    %h3#what-shopqi-does ShopQi能做什么?
    %p ShopQi是一种软件即服务的在线程序，帮助您建立网上商店来销售商品。它可以让您管理商品、定制您的商店外观；通过支付网关接收付款，跟踪和处理订单。
    %h3#what-shopqi-doesnt-do
      ShopQi
      %em 不能
      做什么?
    %p ShopQi不负责商品的物流工作。
    %h3#installation 要怎么安装ShopQi?
    %p ShopQi是不需要安装的! ShopQi软件运行在我们的远程服务器中，您不需要担心任何安装或升级的问题. 您只需要一个新版的浏览器就可以了，如IE9、谷歌浏览器。
    %h3#what-you-need 开始销售商品前我需要准备些什么?
    %p 您需要:
    %ul
      %li 准备销售的商品
      %li
        开通一个
        %a(href="#supported-gateways") 支付网关
        用于接收顾客的付款
      %li 一个新版的浏览器，用于打开网店后台管理
    %h3#custom-domains 我的商店可以使用自己的域名吗?
    %p 可以!您可以在国内任一域名提供商注册域名，并将此域名绑定至您的ShopQi商店。您只需要进入后台管理 -&gt; 设置 -&gt; 域名 &amp; DNS ，按提示进行操作即可。
    %hr/
    %h2#design
      设计您的商店
      %span.back-to-top
        %a(href="#wrapper") 回到顶部
    %h3#changing-designs 需要设计师或者程序员才能修改我们的商店外观吗?
    %p 这是不需要的! ShopQi自带了多种预先设计好的外观模板，您可以应用到商店中. 而且，ShopQi会不断添加新的模板设计，这样您的商店可以保持时尚美观。另外，我们的主题编辑器可以让你很方便地修改商店外观.
    %hr/
    %h2#payments
      支付方式
      %span.back-to-top
        %a(href="#wrapper") 回到顶部
    %h3#customer-payment-methods 我的顾客能使用哪些支付方式?
    %p ShopQi集成了许多不同的网上支付服务，包括支付宝、财付通等等.
    %h3#payment-gateways 什么是支付网关?
    %p 支付网关是银行系统与互联网之间的接口，为您的网上帐号提供安全认证和支付服务.
    .col-8.clearfix.paymentprocessors
      %p 以下是ShopQi集成的支付网关:
      %h3#supported-gateways(rel="supported-gateways")
      .col-8.clearfix
        %ul.clearfix
          %li
            %a(href="http://www.alipay.com") 支付宝
          %li
            %a(href="http://www.tenpay.com") 财付通
    %h3#manual-payments 支持线下付款吗?
    %p 支付. 您可以接受邮政汇款、银行转帐或者货到付款。只需要在支付设置中写明付款明细即可，顾客就可以在付款的时候选择这样的支付方式。
    %hr/
    %h2#orders
      订单与物流
      %span.back-to-top
        %a(href="#wrapper") 回到顶部
    %h3#order-process 当我收到订单时我要做些什么?
    %p
      在您收到新订单的email提醒之后, 您应该登录ShopQi，查看订单详情。在确认订单无误之后，将商品快递至顾客指定的收货地址，然后把订单标记为已发货状态。
    %h2#account
      您的帐号
      %span.back-to-top
        %a(href="#wrapper") 回到顶部
    %h3#cost 使用ShopQi的费用是多少?
    %p
      根据您的企业规模，我们提供多种
      %a(href="/signup") 价格方案
      供您选择
