- @current_tour = :current
- @current_features = :current

#banner
  .content
    %h1 特色列表
  / .content
/ #banner
.content.subpage
  #sidebar-features.col-3.last=render 'sidebar'
  .col-9.right.last
    %h2.center ShopQi特色列表
    %p.feature-subheading &hellip;我们还在增加新的特色.
    .col-9.feature-list.last
      %h3
        =image_tag 'icons/designbrush16.png', width: 16, height: 16
        设计
      %ul
        %li 一个看起来很专业的网店几分钟内即可建成
        %li 可定制的标准化主题免费提供给您使用
        %li 使用HTML和CSS可以完全控制外观
        %li 动态内容通过Liquid模板语言实现灵活布局
    / .col-9 feature-list last
    .col-9.last.feature-list
      %h3
        =image_tag 'icons/clipboard16.png', width: 16, height: 16
        商品管理
      %ul
        %li 使用我们简洁的操作界面很容易增加、显示和组织商品
        %li 任何商品都可以进行库存跟踪
        %li 直接拖动商品图片即可以排序
        %li 每个商品的多种款式允许单独设置库存跟踪、价格、重量等属性
        %li 关键字标签用于协助查询和浏览您的商店
    / .col-9 feature-list last
    .col-9.feature-list.last
      %h3
        =image_tag 'icons/box16.png', width: 16, height: 16
        订单
      %ul
        %li 新订单会发送email提醒
        %li 在ShopQi中可以直接发送email给顾客
        %li 跟踪订单的支付和发货状态
        %li 通过状态自定义视图来过滤订单
    / .col-9 feature-list last
    .col-9.last.feature-list
      %h3
        =image_tag 'icons/pencilruler16.png', width: 16, height: 16
        后台管理
      %ul
        %li 简洁的操作界面让您不需要任何学习成本即可管理商店
        %li 您每次登录时都可以看到整个商店的动态信息
        %li 显示实时统计面板
        %li 库存警告显示在侧边栏，提醒您及时备货
        %li 博客、页面和网站导航都以直观的方式显示
    / .col-9 feature-list last
  / .col-9
/ content
#bottom-signup
  .content
    %a(href="/signup")
      =image_tag 'buttons/btn-signup-bottom.gif', width: 139, height: 36
