#banner
  .content
    %h1 404 Page Not Found
.content.subpage
  #error-404
    =image_tag 'graphics/404-logo.png',width: 200,height: 209
    %p
      %em
        抱歉! 您访问的页面不存在，或者有错误发生。
        %br/
        您可以返回
        =link_to "首页","https://www.shopqi.com"
