- @body_style = "background:#fff"

#originalbanner
  #header.frontpage
    #createanonlinestore.banner.createanonlinestore
      %h1(style="position:absolute; top:20px; left:0px")
        =image_tag 'banners/text-createanonlinestore.jpg'
      =link_to '现在注册', services_signup_path, class: 'blue-signup-button png_bg'
-#
  #feature-bar
    .content
      .quote.col-6(style="margin: 0pt; padding: 30px 60px 10px 10px; width: 400px; text-align: left;")
        #cnet-grey.sprites
        %blockquote(style="color: rgb(85 85 85); font-size: 18px; line-height: 22px;")
          \&ldquo;ShopQi的设计非常简洁，使得建立一个网上商店非常容易.&rdquo;
        %p(style="font-size: 12px; color: rgb(119 119 119);") — 国内科技媒体
      #client-logos.col-6.last
        #amnestyinternational-grey.sprites
        #teslamotors-grey.sprites
        #foofighters-grey.sprites
        %br/
        #indianapolisstar-grey.sprites
        #pennyarcade-grey.sprites
        #evisu-grey.sprites
#new-container
  .content
    %ul
      %li
        =link_to image_tag('icons/globe_48.png'), tour_intro_path
        %h4=link_to '云商店最省心', tour_intro_path
        %p 基于云计算技术架构，用户只需注册帐号、选择外观、上传商品，3分钟即可创建商店。
      %li
        =link_to image_tag('icons/monitor_48.png'), tour_store_path
        %h4=link_to '华丽的商店界面', tour_store_path
        %p 提供各种专业设计的主题皮肤供您的商店选择，界面美观大方。
      %li
        =link_to image_tag('icons/gear_48.png'), tour_design_path
        %h4=link_to '100%可定制', tour_design_path
        %p 商店可以绑定顶级域名，使用自己的Logo标志。支持HTML &amp; CSS二次开发。
      %li.last
        =link_to image_tag('icons/shield_48.png'), tour_security_path
        %h4=link_to '多重安全保障', tour_security_path
        %p 我们拥有专门的安全团队来保障您的网上商店的安全性。
-#
  #clients
    .content
      .col-6.clearfix
        .col-3
          %h3#title-appstore
            %span#box16.sprites>
            ShopQi应用商店
          %p
            此
            %a(href="http://apps.shopqi.com/" target="_blank") 应用商店
            让您可以为您的网上商店添加新的功能.您也可以通过ShopQi API开发自定义的功能.
        .col-3.last
          %h3#title-partner
            %span#people16.sprites>
            合作者
          %p
            如果您是Web设计师或者程序员，可以注册为我们的
            = succeed "," do
              %a(href="/partners/" target="_blank") 合作者
            并从ShopQi获取收入.
        .quote(style="margin-left: 0; padding-top: 40px")
          #techcrunch.sprites
          %blockquote &ldquo;厂商不需要任何的技术人员，几分钟之内，就可以建立一个非常专业的电子商务网站.&rdquo;
          %p &mdash; 知名科技媒体
      .col-6.last
        %h3 我们的客户
        .client
          #ericmueller.sprites
          %p &ldquo;我记住当我第一次看到ShopQi，第一感觉就是：哇~这是我需要的.&rdquo;
          %a(href="#") 采访详情
          %span ShopQi客户
#bottom-signup
  .content
    %a(href="/tour") 查看功能演示
    %span 或者
    =link_to image_tag('buttons/btn-pricing-signup-lighter.png', width: 191, height: 61, class: :png_bg), services_signup_path
