- @current_tour = :current
- @current_security = :current

#banner
  .content
    %h1 托管服务 &amp; 安全
  / .content
/ #banner
.content.subpage
  #sidebar-features.col-3.last=render 'sidebar'
  .col-9.right.last
    %h2.center 我们负责数据的保密和安全工作
    %p.feature-subheading 您的网店托管在安全可靠的服务器.
    .col-9.margin-bottom.clearfix.last.hosting-and-security(style="background: url(/images/graphics/feature-lock.jpg) no-repeat center ; ")
      .left.margin-bottom(style="width:240px; margin-right:20px")
        %h3 无须安装
        %p 我们负责安装商店程序，包括日后的功能完善、升级工作.
      / .col-4
      .right.margin-bottom.last(style="width:240px")
        %h3 极速服务器
        %p ShopQi的程序运行于高速稳定的服务器，性能强劲.
      / .col-4
      .col-3.left.clear
        %h3 SSL加密
        %p ShopQi网店采用行业标准的128位加密技术，来确保您的顾客信息和订单数据在交易过程中的安全性。
      / .col-4
      .col-3.right.last
        %h3 带宽不限
        %p 我们希望看到您的顾客越多越好. 如果您的在线商店有很多的访问者(顾客)，会消耗很多的网络带宽，而您不需要为此付出额外的费用. 
      / .col-4
    / .col-9
    -#
      .col-9.last.content-delivery(style="background: url('/images/graphics/feature-cdnbox.jpg') no-repeat;  height:279px;margin-top:15px; margin-bottom:25px;")
        %div(style=" width:270px; padding:27px 20px 20px 20px")
          %h3 内容转发网络(CDN)
          %p ShopQi是少数几家提供内容转发网络(CDN)服务的电子商务平台之一.
      / .col-9
    .col-4-5
      %h3 自动备份
      %p 使用ShopQi您不再担心数据的安全性. 我们会运行自动备份程序来确保您的在线商店数据始终是安全的.
      .center
        =image_tag 'graphics/feature-autobackups.gif', class: :screenshot
      / .center
    / .col-4-5
    .col-4-5.last
      %h3 没有隐性费用
      %p 我们提供无限带宽和零安装费，您在选择价格方案并付费后，不需要再多付一分一毫.
      .center
        =image_tag 'graphics/feature-nohiddenfees.gif', width: 115, height: 99, class: :screenshot
      / .center
    / .col-4-5
    %hr/
    .col-3
      %h3 您自己的域名
      %p
        =image_tag 'icons/www48.gif', width: 48, height: 48, class: 'icon-right'
        使用您自己的
        %strong www
        顶级域名. 如果您还没有这样的域名，可以使用我们在您注册时提供的
        %strong .myshopqi.com
        域名地址.
    / .col-3
    .col-3
      %h3 免费升级
      %p
        =image_tag 'icons/boxfree48.gif', width: 48, height: 48, class: 'icon-right'
        ShopQi会经常完善功能，并且提供免费升级服务。我们的所有用户不需要为此再支付额外的费用.
    / .col-3
    .col-3.last
      %h3 Ruby on Rails
      %p
        =image_tag 'logos/ror-logo.jpg', width: 48, height: 48, class: 'icon-right'
        ShopQi是基于
        %em Ruby on Rails
        构建的电子商务平台，这使得我们能更快的响应用户的需求。
    / .col-3
    .clearfix
      .next-feature
        .next-buttons.clearfix
          %a.signup(href="/signup") 注册
          %a.next-step(href="/tour/features") 查看 特色列表 &rsaquo;
        / .clearfix
      / .next-feature
    / .clearfix
  / .col-9
/ content
.no-signup-page(style="margin-top: 30px;")
