- @current_signup = :current
=content_for :stylesheets do
  = stylesheet_link_tag "signup"
  /[if IE]
    = stylesheet_link_tag "ie-signup"

#banner
  .content
    %h1(style="font-family:hevletica arial sans-serif") 注册
  / .content
/ #banner
.content.subpage
  %div(style="position: relative; left: 65px")
    %p(style="text-align:center; margin-bottom:30px")
      =image_tag 'signup/copy-tryshopqifreefor30days.png'
  %table#price-chart
    %tr
      %th.heading &nbsp;
      %th.table-col-0.basic
        %a(href="/services/signup/new/basic")
          =image_tag 'signup/btn-table-signup.gif'
      %th.table-col-1.professional
        %a(href="/services/signup/new/professional")
          =image_tag 'signup/btn-table-signup.gif'
      %th.table-col-2.business
        %a(href="/services/signup/new/business")
          =image_tag 'signup/btn-table-signup.gif'
      %th.table-col-3.unlimited
        %a(href="/services/signup/new/unlimited")
          =image_tag 'signup/btn-table-signup.gif'
    %tr.even
      %td 安装费
      %td.table-col-0 免费
      %td.table-col-1 免费
      %td.table-col-2 免费
      %td.table-col-3 免费
    %tr.odd
      %td 带宽费
      %td.table-col-0 免费
      %td.table-col-1 免费
      %td.table-col-2 免费
      %td.table-col-3 免费
    %tr.odd
      %td 最多商品款式数量(SKU)
      %td.table-col-0.basic
        %span.special 100
      %td.table-col-1.professional
        %span.special 2,500
      %td.table-col-2.business
        %span.special 10,000
      %td.table-col-3.unlimited
        %span.special 不限
    %tr.even
      %td 存储空间
      %td.table-col-0.basic
        %span.special 100 MB
      %td.table-col-1.professional
        %span.special 500 MB
      %td.table-col-2.business
        %span.special 1000 MB
      %td.table-col-3.unlimited
        %span.special 不限
    %tr.odd
      %td 包含所有电子商务核心功能(绑定域名,SSL保护,统计等)
      %td.table-col-0
        =image_tag 'signup/checkmark.gif'
      %td.table-col-1
        =image_tag 'signup/checkmark.gif'
      %td.table-col-2
        =image_tag 'signup/checkmark.gif'
      %td.table-col-3
        =image_tag 'signup/checkmark.gif'
    %tr.even
      %td
        %em.note 价格(元)
      %td.table-col-0
        %a(href="/services/signup/new/basic")
          =image_tag 'signup/btn-table-signup.gif'
      %td.table-col-1
        %a(href="/services/signup/new/professional")
          =image_tag 'signup/btn-table-signup.gif'
      %td.table-col-2
        %a(href="/services/signup/new/business")
          =image_tag 'signup/btn-table-signup.gif'
      %td.table-col-3
        %a(href="/services/signup/new/unlimited")
          =image_tag 'signup/btn-table-signup.gif'
  .col-12.highlight-box
    .highlight-box-wrapper
      -#%h2.center 不知道该选哪一个价格方案?
        %p.center
          打电话至(1.888.746.7439)
          %span#chat-on2.chat-on(style="display:none")
          %span#chat-off2
      %p.notes.center 您可以随时修改您的价格方案
    / .highlight-box-wrapper
  / .col-12 highlight-box
  #signup-faq.col-12.clearfix
    %h2 有疑问?
    .col-6
      %h3 是否需要安装费用?
      %p 不需要.所有价格方案都没有安装费.
      %h3 如果30天内取消帐号我需要支付费用吗?
      %p 不需要. ShopQi为您提供长达30天的无风险试用期. 注册ShopQi在线商店后，30天内取消帐号不会向您收取任何费用.
    / .col-6
    .col-6.last
      %h3 我可以随时取消帐号吗?
      %p 是的. 我们衷心希望能继续为您提供服务，但是您仍然可以随时在后台管理中取消帐号。
      %h3 以后我可以修改成其他方案吗?
      %p 当然可以! 您可以随时升级或降低您的方案，不会产生额外的手续费.
    / .col-6
  / .col-12
/ content
