-use_javascripts 'models/comment', 'collections/comments', 'views/comments/index', 'views/comments/show', 'controllers/comments'
%h2#title 所 有 评 论
#action-links
  %ul
#table-filters.box2.sst.ssb
  Showing
  #comment-status-select.filter-select
    %a#status-filter-link{:href => "#", :onclick => "; return false;"} all
    %ul.dropdown{:style => "display: none"}
      %li
        %strong Comment Status
      %li.current
        %a{:href => "/admin/comments?status=all"} all
      %li
        %a{:href => "/admin/comments?status=spam"} spam
      %li
        %a{:href => "/admin/comments?status=unapproved"} unapproved
      %li
        %a{:href => "/admin/comments?status=published"} published
      %li.filter-show-all
        %a{:href => "/admin/comments"} show all
  comments

  from
  #blog-select.filter-select
    %a#blog-filter-link{:href => "#", :onclick => "; return false;"} any
    %ul.dropdown{:style => "display: none"}
      %li
        %strong Blog
      %li
        %a{:href => "/admin/comments?blog=1111&amp;status=all"} 1111
      %li
        %a{:href => "/admin/comments?blog=aaa&amp;status=all"} aaa
      %li
        %a{:href => "/admin/comments?blog=aaa-1&amp;status=all"} aaa
      %li
        %a{:href => "/admin/comments?blog=aaaa&amp;status=all"} aaaa
      %li
        %a{:href => "/admin/comments?blog=ccc&amp;status=all"} ccc
      %li
        %a{:href => "/admin/comments?blog=fffff&amp;status=all"} fffff
      %li
        %a{:href => "/admin/comments?blog=introduction&amp;status=all"} introduction
      %li
        %a{:href => "/admin/comments?blog=wwww&amp;status=all"} wwww
      %li.filter-show-all.current
        %a{:href => "/admin/comments?status=all"} show all
  blog
#comments
  =form_for :comment,url: set_comments_path,id: 'batch-form' do |f|
    %div{:style => "height: 32px;"}
      %table#comment-actions{:cellpadding => "0", :cellspacing => "0", :style => "display:none;"}
        %tr
          %td{:style => "text-align:left;vertical-align: middle"}
            %select#comment_bulk_action{:name => "operation"}
              %option{:checked => "checked", :value => ""} 选择操作...
              %option{:value => "mark_spam"} 标记所选为垃圾评论
              %option{:value => "mark_non_spam"} 标记所选为非垃圾评论
              %option{:value => "approve"} 接收
              %option{:value => "destroy"} 删除
          %td{:style => "text-align:center;vertical-align: middle"}
            \&nbsp;
          %td{:style => "text-align:right;vertical-align: middle"}
            %span#comments_count.note{:style => "margin-bottom: 5px"}
    %table#comments-list.standard-table.show_checkboxes{:cellpadding => "0", :cellspacing => "0"}
      %thead
        %tr
          %th.checkbox{:width => "5%"}
            %input#select-all{:type => "checkbox"}/
          %th{:width => "17%"} 评论人
          %th{:width => "55%"} 内容
          %th{:width => "22%"} &nbsp;
      %tbody
#btm-nav.act-screen.ssb
  #pagination
%script(id="show-comment-item" type="text/html")
  %td.checkbox
    %input.selector.approvable(name="comments[]" type="checkbox" value="{{id}}" id="checkbox-{{id}}")
  %td
    {{ author }}
    %a.email{:href => "mailto:{{ email }}"} {{ email }}
    %span.note
      %span.today {{date created_at }}
  %td
    %p {{ body }}
    %span.posted-on
      {{#with article }}
      发表在文章:
      %a{:href => "/admin/blogs/{{ blog_id }}/articles/{{ id }}"} {{ title }}
      {{/with }}
  %td.r
    %span.comment-actions
      %span(id="comment_{{id}}_actions")
        {{#if is_unapproved}}
        %a.action.btn.approve approve
        {{/if }}
        {{#if is_spam}}
        %a.action.btn.not_spam not spam
        {{/if }}
        {{#if is_published}}
        %a.action.btn.spam spam
        {{/if }}
        %a.action.destroy(href='#')=image_tag('admin/icons/trash.gif')

:javascript
  App.init = function(){
    new App.Controllers.Comments();
    Backbone.history.start();
  }

  App.comments = new App.Collections.Comments();
  App.comments.refresh(#{comments_json});
  new App.Views.Comment.Index({collection: App.comments})
