%h2#title DNS &amp; 域名
=render "shared/noscript"
=render "shared/upgrade_ie"
#action-links
  %ul
.pgroup.st.domain-page(style="margin-bottom: 5px")
  -if shop.plan_free?
    %p
      免费版无法绑定顶级域名，使用此功能前请先
      =link_to '升级版本', account_index_path
      。
  -else
    =render "index"

:javascript
  App.domains = new App.Collections.Domains(#{shop_domains_json});
  new App.Views.Domain.Index({collection: App.domains})

  task_name = 'setup_domain';
