#container
  #dialog
    -if flash[:alert] || flash[:notice]
      #system_error.status.system-error
        %p==#{flash[:alert]} #{flash[:notice]}
    .ssb.c=image_tag 'logos/shopqi-logo-new.jpg'
    =form_for(resource, url: session_path(resource_name)) do |f|
      #sign-in-form.lform
        %noscript
          %p
            请留意:为了使用Shopqi后台管理，您需要
            =succeed "." do
              =render partial="shared/noscript"
        #login
          .ppb.clearfix
            =f.label :email, id: "email_address"
            =f.text_field :email, id: "login-input", size: 30, class: :email
          .ppb.clearfix
            =f.label :password, id: :password_label
            =f.password_field :password, id: "password", class: :formnote, size: 16
            #forgot-password
              =link_to "忘记密码?", new_password_path(resource_name)
          .ppb.c
            =f.check_box :remember_me
            =f.label :remember_me, class: :normal
        .actions
          %input.btn(name="commit" type="submit" value="登录")
