#add-menu.box2{ :style => "display:none" }
  =form_for LinkList.new do
    %h3.sb 添加一个链接列表
    %p
      %label{ :for => "list_title" } 标题
    %p.ssb
      %input#list_title.long{ :type => "text", :name => "title", :value => "" }
    %p.btn-divider
      %input.btn{ :name => "commit", :type => "submit", :value => "新增链接列表" }
      or
      %a{ :href => "#", :onclick => "Element.hide('add-menu'); return false;" }
        取消
