%dt=f.label :author
%dd=f.select :author, shop.users.map(&:name)
%dt=f.label :title
%dd=f.text_field :title,class:"big"
%dt 发表文章在
%dd=f.select :blog_id, shop.blogs.reload.collect{|b|[b.title,b.id]}
%dt.sst=f.label :body_html
%dd{:style => "margin-bottom: 0"}=f.text_area :body_html,id:"kindeditor",style:  "width: 895px; height: 282px;"
%dt.sst=f.label :tags
%dd.ssb
  %p.note.sb 标签是用来为文章分类的关键词,关键词之间用逗号(,)隔开。
  %p
    =f.text_field :tags_text, size:50
    %p.note{:style => "clear: both"} 最近使用过的标签，单击增加。
    %ul#tag-list.tag-list.clearfix.nobull.st
      -tags.each do |tag|
        %li
          %a(href="#")=tag.name
