#admin_header
  #return_to_account.action_link.action_return.note
    =link_to '返回首页',customer_account_index_path
  %h2.title 管理地址簿
  .action_top
    #action.action_link.action_add.note
      =link_to '增加新地址','#'
#add_address.customer_address.edit_address{:style => "display:none;"}
  =form_for address,url: new_address_path(address)  do |f|
    %h4#add_address_title 新增地址
    %table.customer_address_table
      %tr
        %td.label=f.label :name
        %td.value=f.text_field :name
      %tr
        %td.label=f.label :country_code
        %td.value=f.select :country_code, countries.collect{|c|[Carmen.country_name(c.code),c.code]}
      %tr
        %td.label
          %label(for='order_billing_address_attributes_province') 地区
        %td.region
          =f.select :province, District.list, {include_blank: '--省份--'}, style: 'width: 76px'
          =f.select :city, District.list(address.province), {include_blank: '--城市--'}, style: 'width: 76px'
          =f.select :district, District.list(address.city), {include_blank: '--地区--'}, style: 'width: 76px'
      %tr
        %td.label=f.label :address1
        %td(style="width: 260px")=f.text_field :address1
      %tr
        %td.label=f.label :phone
        %td.value=f.text_field :phone, class: :short
      %tr
        %td.label=f.label :zip
        %td.value=f.text_field :zip, class: :short
      %tr
        %td.label=f.label :company
        %td.value=f.text_field :company, class: :short
      %tr
        %td.label
        %td.value
          %input#address_default_address_new{:name => "address[default_address]", :type => "checkbox", :value => "1"}/
          将此地址作为默认收货地址?
    .action_bottom
      =f.submit w('save'),class: 'btn'
      %span.note
        =w('or')
        =link_to w('cancel'), '#'
#address_tables
  .address_table
    #view_address_71144282.customer_address
      %h4.address_title
        大大声的, 订单
      %p.address_actions
        %span.action_link.action_edit
          %a{:href => "#", :onclick => "Shopify.CustomerAddress.toggleForm(71144282);return false"} Edit
        %span.action_link.action_delete
          %a{:href => "#", :onclick => "Shopify.CustomerAddress.destroy(71144282);return false"} Delete
      .view_address
        %p 委会 大时代
        %p 哒哒哒
        %p 大大声的, 订单
        %p 达大厦
        %p Algeria 333333
        %p
    #edit_address_71144282.customer_address.edit_address{:style => "display:none;"}
      %form#address_form_71144282{:action => "/account/addresses/71144282", :method => "post"}
        %input{:name => "_method", :type => "hidden", :value => "put"}/
        %table.customer_address_table
          %tr
            %td.label
              %label{:for => "address_first_name_71144282"} First Name
            %td.value
              %input#address_first_name_71144282.address_form{:name => "address[first_name]", :size => "40", :type => "text", :value => "委会"}/
          %tr
            %td.label
              %label{:for => "address_last_name_71144282"} Last Name
            %td.value
              %input#address_last_name_71144282.address_form{:name => "address[last_name]", :size => "40", :type => "text", :value => "大时代"}/
          %tr
            %td.label
              %label{:for => "address_company_71144282"} Company
            %td.value
              %input#address_company_71144282.address_form{:name => "address[company]", :size => "40", :type => "text", :value => "哒哒哒"}/
          %tr
            %td.label
              %label{:for => "address_address1_71144282"} Address1
            %td.value
              %input#address_address1_71144282.address_form{:name => "address[address1]", :size => "40", :type => "text", :value => "大大声的"}/
          %tr
            %td.label
              %label{:for => "address_address2_71144282"} Address2
            %td.value
              %input#address_address2_71144282.address_form{:name => "address[address2]", :size => "40", :type => "text", :value => "订单"}/
          %tr
            %td.label
              %label{:for => "address_city_71144282"} City
            %td.value
              %input#address_city_71144282.address_form{:name => "address[city]", :size => "40", :type => "text", :value => "达大厦"}/
          %tr
            %td.label
              %label{:for => "address_country_71144282"} Country
            %td.value
              %select#address_country_71144282{"data-default" => "Algeria", :name => "address[country]"}
                %option{"data-provinces" => "[]", :value => "Zimbabwe"} Zimbabwe
          %tr#address_province_container_71144282{:style => "display:none"}
            %td.label
              %label{:for => "address_province_71144282"} Province
            %td.value
              %select#address_province_71144282.address_form{"data-default" => "盛大的撒", :name => "address[province]"}
          %tr
            %td.label
              %label{:for => "address_zip_71144282"} Zip
            %td.value
              %input#address_zip_71144282.address_form{:name => "address[zip]", :size => "40", :type => "text", :value => "333333"}/
          %tr
            %td.label
              %label{:for => "address_phone_71144282"} Phone
            %td.value
              %input#address_phone_71144282.address_form{:name => "address[phone]", :size => "40", :type => "text", :value => ""}/
          %tr
            %td.label
            %td.value
              %input#address_default_address_71144282{:name => "address[default_address]", :type => "checkbox", :value => "1"}/
              Set as Default Address?
        .action_bottom
          %input.btn{:type => "submit", :value => "Update Address"}/
          %span.note
            or
            %a{:href => "#", :onclick => "Shopify.CustomerAddress.toggleForm(71144282); return false;"} Cancel
  #address_pagination
