- use_kindeditor
- use_javascripts 'controllers/articles'
%h2#title=w('new.article')
#action-links
  %ul
    %li.no-icon
      -if blog.id
        =link_to '取消',blog_path(blog)
      -else
        =link_to '取消',pages_path
=render partial:"shared/noscript"
=render partial:"shared/upgrade_ie"
#preview.group.sst.ssb.textile{:style => "display:none;"}
  %h2 预览
  %h4#preview-title
  #preview-body
.group.sst
  =form_for article,html:{id:"new_article",class:"new-article"} do |f|
    #article-form.group-fields
      %dl
        =render partial:"form",locals:{f:f}
    .group-actions
      %input#submit-article-btn.btn{:name => "commit", :type => "submit", :value => "新增"}
      或者
      %a.editor-preview-link{:href => "#"} 预览
:javascript
  App.init = function(){
    new App.Controllers.Articles();
    Backbone.history.start();
  }

  task_name = 'add_content';
