=content_for :login do
  %li
    以
    %a(href="http://test.myshopqi.com") test
    身份登录
    (
    %a(href="/logout")> log out
    )

.message-box
  %h2 您的主题正在更换...
  %p
    完成主题更换可能需要一两分钟的时间。您可以检查
    %a(href="http://medhurst-shields-and-kunde7896.myshopify.com") 您的商店
    看看是否已经更新为新的主题或者返回
    =succeed "." do
      %a(href="/") 主题商店
