-@content_class = 'divider'

=content_for :login do
  %li
    以
    %a(href="http://test.myshopqi.com") test
    身份登录
    (
    %a(href="/logout")> log out
    )

.col-16
  #theme-download
    %h1 您即将为 test.myshopqi.com 网店安装 Couture 主题风格
    %p
      %a#apply-theme.standard-button(data-confirm="此操作将删除您在 test.myshopqi.com 网店上当前所使用的主题，包括之前对它所做的修改.您确定吗?" data-method="post" href="/themes/couture/styles/arioso/apply" rel="nofollow")
        我的商店要使用此主题
        %br/
        %small 此操作将覆盖您当前使用的主题
      或者
      %a(href="/themes/couture/styles/arioso/download_file") 以.zip格式下载此主题
  %p.hint(style="text-align: center; margin-top: 30px;")
    选择以上任一操作表明您
    %br/
    已经阅读并同意
    = succeed "." do
      %a(href="http://checkout.shopqi.com/legal/terms.html#themes") ShopQi的服务协议
