=content_for :javascripts do
  =javascript_include_tag 'views/themes/settings/index'

%h2#title 主题外观配置
#action-links
  %ul
    %li.template-editor=link_to "模板编辑器", assets_path
=render "shared/noscript"
=render "shared/upgrade_ie"
%form#theme_settings_form(action="#" enctype="multipart/form-data" method="post")
  #theme-settings.clearfix(style="border-bottom: none !important")
    .col-4.sst
      %h3 您当前的预设
      %p.note.sb 选择下方的下拉框可以切换外观配置的预设集合。调整右边的配置项目并且保存修改。
      %select#theme_load_preset(name="theme[load_preset]")
        %option(value="") 定制
        %option(value="") ---
        %option(selected="selected" value="original") original
      %span.sl
        %a#delete_theme_preset_link.action.note(href="#" onclick="if (confirm('Are you sure you want to delete the selected preset?')) ( new Ajax.Request('/admin/themes/1471712/settings/delete_preset' (asynchronous:true evalScripts:true method:'delete' parameters:ThemeSettings.instance().paramsToDeletePreset() + '&amp;authenticity_token=' + encodeURIComponent('NsbjdGc1z1TJwiLoSsD0FYx92bnQeoVeW6Wn2HuEZaU='))); ); return false;" style="") 删除此预设
    .col-8.sst.last
      =render inline: theme.settings_transform.html_safe
      %fieldset.required_setting
        %legend Additional Layouts
        %table
          %tr
            %th
              %label(for="theme_settings_customer_layout") Customer Area Layout
            %td
              %select#theme_settings_customer_layout.layout(name="theme[settings][customer_layout]")
                %option(value="customer_area") default
                %option(value="") ---
                %option(selected="selected" value="theme") theme
      .r.st.sb
        %input#save-current-setting(name="save-current-setting" onclick="$('save-preset').toggle(); this.stopObserving();" type="checkbox" value="")/
        %label(for="save-current-setting") 将当前配置保存为预设
      #save-preset.st.sb.r(style="display: none")
        %label(for="theme_save_preset_existing") 保存当前主题配置为
        %select#theme_save_preset_existing(name="theme[save_preset][existing]")
          %option(value="") 一个新的预设
          %option(value="") ---
          %option(value="original") original
        %span#theme_save_preset_new_container
          %label(for="theme_save_preset_new") 并命名为
          %input#theme_save_preset_new(name="theme[save_preset][new]" type="text")
  %p.r
    %input(name="commit" type="submit" value="保存配置")

%script(id="section-header-item" type="text/x-jquery-tmpl")
  %h3(class="section-header") {{{title}}}

:javascript
  new App.Views.Theme.Settings.Index();
