#admin_header
  #return_to_store.action_link.action_return.note
    =link_to '返回商店',show_shop_url
  %h2.title 账号信息 以及 订单信息
#customer_sidebar
  #customer_detail.group
    %h5.name==#{current_customer.name}
    %p.email.note==#{current_customer.email}
    .address.note
      %p eeee
      %p eee
      %p eee, Spain
      %p 333000
      %p
      %a#view_address{:href => "/account/addresses"} View Addresses (11)
%table#customer_orders
  %thead
    %tr
      %th.order_number 订单
      %th.date 日期
      %th 支付状态
      %th 配送状态
      %th.total 总金额
  %tbody
    =render partial: 'order',collection: current_customer.orders
