#header
  #logo
    / css hook for logos
  %h1#tagline
    鞋子
    %span.subtitle 顾客区域
  %p#logout.action_link.note
    %span==#{current_customer.name}
    %a#customer_logout_link{:href => "/account/logout"} (退出登录)
#wrapper.clearfix
  #admin_header
    #return_to_store.action_link.action_return.note
      %a{:href => "http://medhurst-shields-and-kunde7896.myshopify.com"} Return to Store
    %h2.title Account Details and Order History
  #customer_sidebar
    #customer_detail.group
      %h5.name ee ee
      %p.email.note liwh87@gmail.com
      .address.note
        %p eeee
        %p eee
        %p eee, Spain
        %p 333000
        %p
        %a#view_address{:href => "/account/addresses"} View Addresses (11)
  %table#customer_orders
    %thead
      %tr
        %th.order_number Order
        %th.date Date
        %th Payment Status
        %th Fulfillment Status
        %th.total Total
    %tbody
      %tr.odd
        %td
          %a{:href => "http://medhurst-shields-and-kunde7896.myshopify.com/account/orders/d9c3ee82912225f2edb26a852f98243e", :title => ""} 1022
        %td.note Aug 16, 2011
        %td
          %span.status_pending pending
        %td
          %span.status_unfulfilled unfulfilled
        %td.total.money ¥48.00
#footer
  %a{:href => "mailto://liwh88@gmail.com"} Contact Shop Owner
