#admin_header
  #return_to_store.action_link.action_return.note
    =link_to '返回商店',show_shop_url
  %h2.title 账号信息 以及 订单信息
#customer_sidebar
  #customer_detail.group
    %h5.name==#{current_customer.name}
    %p.email.note==#{current_customer.email}
    .address.note
      -if current_customer.default_address
        %p=current_customer.default_address[:country_name]
        %p=current_customer.default_address[:province_name]
        %p=current_customer.default_address[:city_name]
        %p=current_customer.default_address[:district_name]
        %p=current_customer.default_address['address1']
        %p=current_customer.default_address['zip']
        =link_to "查看地址簿(#{current_customer.addresses.count})",customer_addresses_path,id: 'view_address'
      -else
        %p 当前还没有可用的地址簿
        =link_to "查看地址簿(#{current_customer.addresses.count})",customer_addresses_path,id: 'view_address'
%table#customer_orders
  %thead
    %tr
      %th.order_number 订单
      %th.date 日期
      %th 支付状态
      %th 配送状态
      %th.total 总金额
  %tbody
    =render partial: 'order',collection: current_customer.orders
