/* GLOBAL */

body {
  	color:#333;
  	background: #fff;
}
	
a:link, a:visited, a:active {
	color: #5FA6B7;
}

a:hover {
	color: #5FA6B7;
}

h2 {
	color:#7CC0D0;
}

/* LAYOUT */

#frame {
	background-color: #fff;
}

#header {
  	background-color: #fff;
  	background-image:url(header-aqua.gif);
}

#header h1 {
	color:#000;
}

#header a:link, #header a:visited, #header a:hover, #header a:active {
  	color: #000;
}

#footer a:link, #footer a:visited, #footer a:active, #footer a:hover {
  	color:#333;
}
		
#shopqi {
	color: #333;
	background-color:#B9B2B8;
}

/* PRODUCTS */

.product {
  	border: 1px solid #eee;
}

.product a:link, .product a:visited, .product a:active, .product a:hover {
  	text-decoration: none;
  	color: #666;
}

.coll-desc {
  	background-color:#f9f9f9;
}

/* TOP NAVIGATION */

#navigation {
	background-color:#7CC0D0;
	color: #fff
}

#navigation ul li a:link, #navigation ul li a:visited {
	color: #fff;
}

#navigation ul li a:hover {
	color: #333;
}

/* SIDEBAR */

#sidelinks li {
  	background-color:#f9f9f9;
  	border: 1px dashed #999;
}

#feature-sidebar {
  	background-color:#f9f9f9;
  	border: 1px dashed #999;
}

.featuring-image img {
	background-color: #e1ddc8;
	border: 1px solid #999;
}

#bio {
  	background-color:#f9f9f9;
  	border: 1px dashed #999;
}

#searchbar {
  	background-color:#f9f9f9;
  	border: 1px dashed #999;
}

#cartside {
  	background-color:#f9f9f9;
  	border: 1px dashed #999;
}

/* TAGS */

#tags {
	background-color:#f9f9f9;
}

/* INDEX.LIQUID */

#articles {
  	background-color:#f9f9f9;
}

#articles h3 {
	color: #7CC0D0;
}

/* PRODUCT.LIQUID */

#product-main {
	border:dotted 1px #999;
}

.prod-img-small {
  	border: solid 1px #999;
}

#variant-add {
  	border-top: dashed 1px #999;
}

#description {
  	border-top:dashed 1px #999;
}

/* CART.LIQUID */

#shoppingcart {
  	border: 1px solid #eee;
}

#shoppingcart a:link, #shoppingcart a:visited, #shoppingcart a:active, #shoppingcart a:hover {
  	color: #666;
}

.total {
  	background-color:#f9f9f9;
}

/* BLOG.LIQUID */

.headline {
  	color: #333;
}

.title {
  	background: #fff url('headline.gif') top right no-repeat;
	height: 48px;
}

.date {
  	background: #fff url('date.gif') top left no-repeat;
  	color: #5FA6B7;
}

.date h4 {
  	color: #5FA6B7;
}

/* ARTICLE.LIQUID */

#comments h3 {
	color: #666;
}

#comment-form h3 {
	color: #666;
}

.notice, .hint {
color: #AC2F59;
}