{% layout settings.customer_layout %}

<div id="template">
    <div class="template_header">
      <h2 class="title">重置帐号密码</h2>
      <p class="note">请输入新的密码{{ email }}</p>
    </div>

    {% form 'reset_customer_password' %}
      {{ form.errors | default_errors }}

      <div id="password" class="clearfix large_form">
        <label class="large" for="password">密码</label>
        <input type="password" value="" name="customer[password]" id="customer_password" class="large password" size="16" />
      </div>
      <div id="password_confirm" class="clearfix large_form">
        <label class="large" for="password_confirmation">确认密码</label>
        <input type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" class="large password" size="16" />
      </div>
      <div class="action_bottom">
        <input class="btn" type="submit" value="重置密码" />
      </div>
    {% endform %}
</div>
