#export-customers.box2.ssb.sst.hide
  %h3 导出您的顾客信息
  %p.sb
    您的顾客信息将导出为
    %strong \.csv 文件
    (以逗号分隔).
  %a#export_current_search_csv.btn.sr(href="#") 导出当前分组
  %a#export_csv.btn(href="/admin/customers/export.csv") 导出所有顾客
