=content_for :javascripts do
  =javascript_include_tag 'backbone/models/customer', 'backbone/models/order', 'backbone/views/customers/show/index', 'backbone/views/customers/show/show', 'backbone/views/customers/show/note', 'backbone/views/customers/show/tags', 'backbone/views/customers/show/edit', 'backbone/views/customers/show/orders/index', 'backbone/views/customers/show/orders/show'

%h2#title
#action-links
  %ul
    %li.no-icon
      %a#edit-customer-link(href="#") 编辑
    -#%li#reorder=link_to '重置密码', '#', class: 'closure-lightbox'
    -#%li#lock=link_to '禁用帐号', '#', class: 'closure-lightbox'
=render "shared/noscript"
=render "shared/upgrade_ie"
.col-4
  #customer-box.box2(style="margin:20px 0 0 0; padding:10px; width:240px;")
    %table#customer-summary(cellpadding="0" cellspacing="0")
  #customer-note.message.customer-col(style="margin-top:20px;")
  #customer-tags(style="margin:20px 0; width:240px;")
.customer.col-8.last
  #show-customer-screen
    #customer-facts.box2(style="margin-top:20px;")
    #orders
      %table#order-table.ssb.data(cellpadding="0" cellspacing="0")
        %thead
          %tr
            %th.sortcol 订单
            %th.sortcol.sortasc(style="width: 80px !important") 日期
            %th.sortcol 支付状态
            %th.sortcol 发货状态
            %th.sortcol(style="text-align: right;padding-right: 4px !important;background-position: 5% center !important;") 总金额
        %tbody
    %div(style="width:100%")
      #pagination
  #edit-customer-screen(style="display:none")
%div(style="display:none;")
  #reset-password
    .account-action
      %p.ssb 您确定要重置此顾客的密码吗? 此顾客会收到邮件，指引他重置密码.
      %a.btn(data-method="post" href="/admin/customers/id/reset" rel="nofollow") 重置密码
      或者
      %a.close-lightbox(href="#") 取消
  #disable-account
    .group-actions
      %p.ssb 您确定要禁用此顾客的帐号吗?
      %a.btn(data-method="post" href="/admin/customers/id/disable" rel="nofollow") 禁用帐号
      或者
      %a.close-lightbox(href="#") 取消

%script(id="customer-note-item" type="text/x-handlebars-template")
  %h3.clearfix 顾客备注
  .notes {{#if note}} {{note}} {{else}} 暂时没有加入备注. {{/if}}
%script(id="customer-tags-item" type="text/x-handlebars-template")
  %h3.clearfix 顾客标签
  %p {{#if tags_text}} {{tags_text}} {{else}} 暂时没有加入标签. {{/if}}
%script(id="customer-summary-item" type="text/x-handlebars-template")
  %tbody
    %tr.first
      %td.attribute=image_tag 'admin/icons/customer.gif', id: :gravatar
      %td.value
        %h3 {{{name}}}
        %p(style="line-height:18px;")
          %a(href="mailto:{{{email}}}") {{{email}}}
          %br/
          {{{default_address.phone}}}
    %tr
      %td.attribute 帐号
      %td.value
        %span.o-authorized {{{status_name}}}
    %tr
      %td.attribute 营销
      %td.value.image
        %span.o-authorized {{#unless accepts_marketing}}不愿意{{/unless}}接收营销邮件
    %tr
      %td.attribute 默认地址
      %td.value
        {{#with default_address}}
        {{{name}}}
        %br/
        {{{province_name}}}
        %br/
        {{{city_name}}}
        %br/
        {{{district_name}}}
        %br/
        {{{address1}}} {{{zip}}}
        {{/with}}
  %tbody#more-customer-addresses(style="display:none;")
    {{#each more_addresses}}
    %tr
      %td.attribute 地址
      %td.value
        {{{name}}}
        %br/
        {{{province_name}}}
        %br/
        {{{city_name}}}
        %br/
        {{{district_name}}}
        %br/
        {{{address1}}} {{{zip}}}
    {{/each}}
  {{#if more_addresses.length}}
  %tbody
    %tr
      %td.attribute &nbsp;
      %td.value
        %a#show-customer-addresses(href="#") 另外 {{{more_addresses.length}}} 个地址&hellip;
  {{/if}}
%script(id="customer-facts-item" type="text/x-handlebars-template")
  %ul
    %li.first
      %p.big ¥{{{total_spent}}}
      %span 消费金额
    %li
      %p.big {{{orders_count}}}
      %span 订单数
    %li.last
      %p.big {{{first_order_date}}}
      %span 首次下单
%script(id="order-item" type="text/x-handlebars-template")
  %td
    %a(class="{{{abandoned_class}}}" href="/admin/orders/{{{id}}}") {{{name}}}
  %td
    %span.note {{{date created_at "MM-dd"}}}
  %td
    %span(style="font-size: 11px" class="{{{financial_class}}}") {{{financial_status_name}}}
  %td
    %span(style="font-size: 11px")
      %span(class='{{{fulfill_class}}}') {{{fulfillment_status_name}}}
  %td(style="text-align: right") ¥{{{total_price}}}
%script(id="edit-customer-screen-item" type="text/x-handlebars-template")
  %form.edit_customer(onsubmit='return false')
    .section-header(style="margin-top:0;") 顾客信息
    .customer-group.white.clearfix
      .required.fl
        .pb.clearfix
          .fl
            %label(for="customer_name") 姓名
            %input#customer_name.name(name="customer[name]" size="30" type="text" value="{{{name}}}")
        .pb.clearfix
          %label(for="customer_email") 邮箱
          %span(style="font-size:14px; padding-left:3px;") {{{email}}}
    .customer-addresses
      .section-header 地址信息
      .address
        .customer-group.white
          {{#with default_address}}
          .pb.clearfix
            .fl
              %label(for="name") 姓名
              %input#name.name(name="name" size="30" type="text" value="{{{name}}}")
          .pb.clearfix
            .fl
              %label(for="company") 公司
              %input#company.company(name="company" size="30" type="text" value="{{{company}}}")/
            .fl
              %label(for="phone") 电话
              %input#phone.phone(name="phone" size="30" type="text" value="{{{phone}}}")/
          .pb.clearfix.region
            .fl(style="margin-right:10px")
              %label(for="province") 地区
              =select_tag :province, options_for_select(District.list), {prompt: '--省份--', style: 'width: 106px'}
              =select_tag :city, nil, {prompt: '--城市--', style: 'width: 106px'}
              =select_tag :district, nil, {prompt: '--地区--', style: 'width: 106px'}
          .pb.clearfix
            .fl
              %label(for="address1") 地址
              %input#address1.city(name="address1" size="30" type="text" value="{{{address1}}}")
            .fl
              %label(for="zip") 邮编
              %input#zip.postal(name="zip" size="30" type="text" value="{{{zip}}}")
          {{/with}}
      .customer-group.white
        .pb.clearfix
          .fl
            {{#if accepts_marketing}}
            %input#accepts_marketing(checked="checked" name="customer[accepts_marketing]" type="checkbox" value="1")
            {{else}}
            %input#accepts_marketing(name="customer[accepts_marketing]" type="checkbox" value="1")
            {{/if}}
          .fl
            %label(for="accepts_marketing") 接收营销邮件
    %div
      .section-header 备注
      .customer-group.white
        %textarea#note.notes(cols="40" name="customer[note]" rows="20") {{{note}}}
    %div
      .section-header 标签
      .customer-group.white
        %p.note.sb 多个关键词之间用逗号(,)隔开。
        %input#tags_text.sb(name="customer[tags_text]" size="30" type="text" value="{{{tags_text}}}")
        {{#if tags.length}}
        %p.note(style="clear: both") 最近使用过的标签，单击增加。
        {{else}}
        %p.note 例如: VIP
        {{/if}}
        %ul#tag-list.tag-list.clearfix.nobull.st
          {{#each tags}}
          %li
            %a(href="#") {{{name}}}
          {{/each}}
    .group-actions
      %input#update-options.btn(name="commit" type="submit" value="保存")/
      或者
      %a#cancel-customer-link(href="#") 取消

:javascript
  App.customer = new App.Models.Customer(#{customer_json});
  App.tags = #{tags_json};
  new App.Views.Customer.Show.Index({model: App.customer});
