!!!
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
  %head
    %meta(http-equiv="content-type" content="text/html; charset=UTF-8")
    %meta(http-equiv="X-UA-Compatible" content="chrome=1")
    %meta(http-equiv="imagetoolbar" content="no")
    %meta(name="MSSmartTagsPreventParsing" content="true")
    %title==#{shop.name} - 结帐
    =stylesheet_link_tag :layout_checkout
    /[if lt IE 7]
      =stylesheet_link_tag "ie-checkout"
    -if checkout_css_exists?
      %link(href="#{theme.asset_url('checkout.css')}" media="screen" rel="stylesheet" type="text/css")
    = javascript_include_tag :checkout_application
  %body
    #info-bar
      =image_tag 'admin/icons/lock.gif'
      %span 您现在浏览的是加密的服务器。
    #container
      =yield
      #footer
        #shop-policies(style="text-align:center; font-size: 11px;")
        %p==保留一切权利 &copy; 2011 #{shop.name}.
    / This element is required to read the background color for highlight effects in custom checkout stylesheets
    #wallet-highlight.wallet-highlight(style="display: none;")
