msg('#{flash[:notice]}');
$('#handle-form-#{country.id}').before('#{escape_javascript(render partial: 'weight_based_shipping_rates/weight_based_shipping_rate', object: weight_based_shipping_rate)}');
$('#weight_based_shipping_rate_name_#{country.id}').val(null);
