%h2#title==到达#{Carmen::country_name(country.code)}的运费
#action-links
  %ul
    %li.no-icon=link_to w('edit'),'#', onclick: "TogglePair(['shipping-summary', 'shipping-form']); return false;"
    %li.no-icon=link_to_delete weight_based_shipping_rate_path(weight_based_shipping_rate)
#shipping-details.box2
  %h3  编辑基于重量的运费
  #shipping-summary
    %dl
      %dt
        %label 名称
      %dd=weight_based_shipping_rate.name
      %dt
        %label 重量
      %dd== 从 #{weight_based_shipping_rate.weight_low}kg 到 #{weight_based_shipping_rate.weight_high}kg
      %dt
        %label 运费
      %dd== ¥#{weight_based_shipping_rate.price} RMB
  #shipping-form{:style => "display:none"}
    =form_for weight_based_shipping_rate do |f|
      %dl
        %dt
          =f.label :name
          %span.note 例如：顺风，EMS 等等
        %dd=f.text_field :name, maxlength: 255,size: 40, style: 'font-size: 150%'
        %dt
          %label 重量
          %span.note 仅当订单物品重量在此范围之类才生效
        %dd
          从
          =f.text_field :weight_low,size: 5,class: 'r'
          %strong kg
          到
          =f.text_field :weight_high,size: 5,class: 'r'
          %strong kg
        %dt=f.label :price
        %dd
          =f.text_field :price ,size: 5, class: 'r'
          %strong RMB
      %p.btn-divider
        =f.submit w('save'),class: 'btn'
        =w('or')
        =link_to w('cancel'),'#', onclick: "TogglePair(['shipping-summary', 'shipping-form']); return false;"
