body { font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height:1.3em; }

h1, h2, h3, h4 { margin:1em 0 .5em; font-family: Georgia,Serif; font-weight:normal; clear:both; }
h1, h2 { margin-top:.5em; font-size:180%; }
h2 .testorder { font-size: 15px; color: #555 !important; font-family: Helvetica, Arial, sans-serif; }
h3 { margin-top: 35px; font-size: 16px; font-weight: normal; }
h4 { font-size: 16px; font-weight: bold; }



/* HIDE ELEMENTS */
#utils, #nagigation, #nav, #sbar, #action-links, #secondary, .tools, .toolbox,
#header, #sidebar, #footer, #conclude, .comment-box, .comment-list,
.hd, #copy, #risk-analysis, #testorder, .map-link, #gravatar, #logo-small, 
#unshipped-goods, #order-history, #authorized, #conversion-info, .announcement { display: none !important; }

#cc-logo { margin-bottom: 0 !important; }
#order-note { clear: left; }
#order { margin-bottom: 1.5em; padding-top: 30px; clear: both; }
#order td { text-align: left; }
#order td.total-col { text-align: right; }
#order td.line-price { text-align: center; }
#order td.line-qty { font-weight: bold; }
#order-date, #order-history-print { display: block !important; }
#order-history-print { clear: left; }
#order-history-print td { text-align: left; padding: 2px 0; }
#ordered { margin: 5em 0; }

#ship-addr { float: left; }
#bill-addr { float: left; padding-left: 53px;  }
#ship-info { clear: left;  }
#order-status { clear: both; width: 66%; border-top: 1px solid #ccc; }
#order-status div, #order-status h3 { text-align: left !important; }
#order-status p { margin: 0; }
.order-action-line { float: left; border-top: 1px solid #ccc; width: 33%; }
.customer-col { margin-top: 0; }

#order-status h3, .order-action-line h3 { margin-top: 20px !important; }

/*
 *=MISC
 */

a { color:black; text-decoration:none; }
a img { border-width:0; }
table { width: 100%; border-collapse: collapse; }
th { text-align: left; font-size: 110%; border-bottom: 1px solid #333; }
code { font:110% Monaco,"Courier New",Courier,Monospace; }
p { margin:0 0 .75em; line-height:1.8em; color: #333 !important; }
table p, dl ul, dl p, dl dl {  }
td { padding: 5px 0; text-align: right; }
td.summary { text-align: right; font-weight: bold; }
th, td { text-align: center; }
address { font-style: normal; }

.l, .left { text-align: left !important; }
.r { text-align: right !important; }
.c { text-align: center !important; }
.fl { float: left; }

#sep td { border-top: 1px solid #777; }

ul { list-style-type: none; padding: 0; }
ul, dl { margin-top:0; margin-bottom:.75em; }
dl dl { margin:.125in .5in .25in; }
dd { margin:0 0 1em; padding:0; }



#customer-box { margin: 0; padding: 0; }
#customer-info, #bill-addr, #ship-addr { display: block !important; margin-bottom: 0.5em; }
/*
 *=CUSTOMER
 */
#customer-info { width: 220px; float: left; }
#customer-info { margin-top: 2.75em; }
#customer-info h3 { font-family: Helvetica, Arial, sans-serif; font-size: 15px; margin: 0; line-height:1.8em; font-weight: bold; }
#customer-info p { margin: 0; font-size: 12px; line-height: 20px; }

.total-col { text-align: right; }
.discount-line { text-align: left; }
.totalnum { font-weight: bold !important; }
.order-action-line { margin: 0 0 20px 0; }
.order-action-line * { line-height: 20px; }

#shop-name-print { position: fixed; top: 0; right: 0; text-align: right; }
#shop-name-print h2 { font-family: Helvetica, Arial, sans-serif; font-size: 16px; color: #666; font-weight: bold; }
#shop-name-print p { color: #aaa; }