.shopqi-dialog {position: static} /* 修正弹出窗口border显示异常的问题 */
.state {
padding: 2px 6px;
color: white;
font-size: 10px;
text-align: center;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
font-weight: normal;
text-shadow: none;
-moz-text-shadow: none;
-webkit-text-shadow: none;
}
.owner { background: #6CC644;}

/* placeholder css */
input.placeholder_text,
textarea.placeholder_text {
color: #FFFFFF;
}

::-webkit-input-placeholder {
color: #FFFFFF;
}
.item-payment {
  border-bottom: 1px solid #ddd; padding-bottom: 10px
}
