.fr.r
  #authorized
    %input.btn(type="button" value="接收款项")
    %p.instruction
      已授权您接收
      %strong=order.total_price
%h3 支付方式
%p#cc-logo
  =image_tag 'admin/icons/payment/visa.png', height: '14', style: "vertical-align:top;position:relative;top:3px;padding-right: 8px"
  XXXX-XXXX-XXXX-4242
%p Processed by Trust Commerce
