%tr#user_list(class="#{cycle(:odd,:even)}")
  %td
    =link_to user.name, "#",class:"closure-lightbox"
    -if current_user == user
      ==(#{link_to "修改",edit_user_path(user)})
      %br/
      %span.note 商店所有者
  %td=user.email
  %td.r
    -if current_user.is_admin? && current_user.email != user.email
      = link_to image_tag('admin/icons/trash.gif'), user_path(user), remote: true, method: :delete, confirm: '您确定要删除?', title: '删除它', class: :del
