%h2#title 修改用户信息
#action-links
  %ul
=render partial:"shared/noscript"
=render partial:"shared/upgrade_ie"
%div
  =form_for user do |f|
    =message_block on:[user]
    %h4 个人信息
    %dl.group
      %dt=f.label :name
      %dd=f.text_field :name
      %dt
        =f.label :phone
        %span.hint (可选的)
      %dd=f.text_field :phone
      %dt
        =f.label :bio
        %span.hint (可选的)
      %dd=f.text_area :bio,cols:40,rows:10
    %h4 登录信息(更新此信息需重新登录)
    %dl.group
      %dt=f.label :email
      %dd=f.text_field :email
      %dt.toggle=f.label :password
      %dd.toggle=f.password_field :password
      %dt.toggle=f.label :password_confirmation
      %dd.toggle=f.password_field :password_confirmation
    %h4 联系
    %dl.group
      %dd
        %span.note 我们会定期通过电子邮件发送有关shopqi的重要消息给我们的用户。这可能包括计划维护停机或相关的主要是提供给您的新功能公告通知。我们保持邮件数量降到最低
      %dd
        %input{:name => "user[receive_announcements]", :type => "hidden", :value => "0"}/
        %input#user_receive_announcements{:checked => "checked", :name => "user[receive_announcements]", :type => "checkbox", :value => "1"}/
        %label{:for => "user_receive_announcements"} 通过电子邮件保持最新的信息
    %p.btns
      %input.btn{:name => "commit", :type => "submit", :value => "保存"}/
      =w('or')
      =link_to w('cancel'),account_index_path

