-if Domain::Store.matches?(request)
#container
  #dialog
    .ssb.c
      %img{:alt => "Shopqi-logo-new", :src => "/images/logos/shopqi-logo-new.jpg"}
    =form_for(resource,:url => password_path(resource_name)) do |f|
      .lform.c.clearfix.ppb
        %h3 忘记密码？ 不能登录？
        %p.ppb
          在下面输入
          %strong 邮箱地址
          我们马上会发送邮件，告诉您如何找回密码!
        =f.text_field :email,:size => "30",:id => "login",:class => "fn",:style => "display: inline"
      .actions
        =f.submit "发送重置密码操作链接",:class => "btn"
        or
        %a{:href => "#",:onclick => "history.back();return false;"} Cancel
