-unless Subdomain.matches?(request)
  #content-top
    #content-bottom
      #content
        #main
          %h3 忘记密码了?
          = semantic_form_for(resource, :as => resource_name, :url => password_path(resource_name)) do |f|
            =f.semantic_errors :email, :id => :error
            =f.inputs do
              =f.input :email, :hint => '用户名即为注册时填写的Email地址', :required => false
            =f.buttons do
              =f.commit_button '发送重置密码操作链接'
          = render :partial => "devise/shared/links"
-else
  #page
    #header
      #container
        #branding
    #content
      .container
        - semantic_form_for(resource, :as => resource_name, :url => password_path(resource_name)) do |f|
          .header.field
            %h1 忘记密码?
          .field
            =f.semantic_errors :email, :class => :errorlist
            =f.label :email
            =f.text_field :email
            %p
              用户名即为注册时填写的Email地址
          .field
            =submit_tag "发送重置密码操作链接", :class=>"green_button"
        #footer
          %ul
            %li
              %a{:href=>"http://www.shopqi.com/"}
                主页
            %li
              = link_to "忘记密码", new_password_path(resource_name)
