.shopify-dialog(aria-labelledby=":0" role="dialog")
  .shopify-dialog-title.shopify-dialog-title-draggable(style="text-align: left; ")
    %span.shopify-dialog-title-text 保存顾客分组
    %span.shopify-dialog-title-close x
  .shopify-dialog-content(style="text-align: left; cursor: default")
    %form#create_customer_group.clearfix(onsubmit='return false')
      %p(style="font-size:12px; margin-bottom:10px; color:#777;") 请输入新的分组名称
      %input#new_group_name.name(name="customer_group[name]")
      %input#save_group_button.btn(type="submit" value="保存")
