#announcement.announcement.box2
  %small.options{style: "float:right"}
    %a{href: "#", onclick: "$('announcement').hide(); new Ajax.Request('/admin/dashboard/hide/id', {method: 'POST', parameters: paramsWithAuthentication()}); return false;; return false;"} 隐藏此通知
  %h4 ShopQi数据中心迁移通知
  %p ShopQi将在5月14日 06:00-08:00 期间迁移服务器至新的数据中心。在这两个小时中，ShopQi将无法提供服务。不便之处，敬请谅解。
