:javascript
  (function(doc,id) { //http://j.mp/zWV6iy
    var t   = doc.createElement('script');
    t.async = true;
    t.src   = '//hm.baidu.com/h.js?'+id;
    (doc.head || doc.body).appendChild(t);
  })(document,'d49f758c0926d9d5ef8d614d6ae87621')
