-if production?
  :javascript
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fd49f758c0926d9d5ef8d614d6ae87621' type='text/javascript'%3E%3C/script%3E"));
