.shopify-dialog(aria-labelledby=":0" role="dialog")
  .shopify-dialog-title.shopify-dialog-title-draggable(style="text-align: left; ")
    %span.shopify-dialog-title-text=title
    %span.shopify-dialog-title-close(title='单击关闭') x
  .shopify-dialog-content(style="text-align: left; cursor: default")=body
