.shopqi-dialog(aria-labelledby=":0" role="dialog")
  .shopqi-dialog-title.shopqi-dialog-title-draggable(style="text-align: left; ")
    %span.shopqi-dialog-title-text=title
    %span.shopqi-dialog-title-close(title='单击关闭') x
  .shopqi-dialog-content(style="text-align: left; cursor: default")=body
