%noscript
  .announcement
    %h4
      Javascript脚本被禁用
    %p
      %strong
        为了使用ShopQi后台管理，您的浏览器
        %em
          需要启用javascript脚本
    %p
      点击了解更多
      %a{ :href => "http://www.enable-javascript.com/" }
        怎么启用脚本
      \.
