#upgrade-ie6.announcement{ :style => "display:none;" }
  %h4
    请升级您的浏览器
  %p
    %strong
      非常抱歉，基于安全性的考虑，ShopQi不支持
      %em
        IE6
      \. 如需继续使用ShopQi平台, 请升级浏览器
  %p
    我们推荐以下浏览器
    %a{ :href => "http://www.google.com/chrome" }
      Google Chrome
    ,
    %a{ :href => "http://www.getfirefox.com" }
      Mozilla Firefox
    or
    %a{ :href => "http://www.apple.com/safari/download/" }
      Safari
    \.
