#container
  #dialog
    -if flash[:alert]
      #system_error.status.system-error
        %p=flash[:alert]
      %ul.full
        %li
          您已成功删除您的网店，感谢您一直以来对我们的支持，谢谢！
        %li.last
          返回
          =link_to '官网', host_with_port
    -else
      .status
        %p=flash[:notice]
      %ul.full
        %li
          返回
          =link_to '登录', new_user_session_path, title: '重新登录'
        %li.last
          返回
          =link_to '网店', '/'
