.user{:style => "width:380px;"}
  .fr
    %img.gravatar{:alt => "development shop", :height => "50", :src => "/images/avatar.jpg", :title => "", :width => "50"}
  %p.note account owner
  %p.st
    %span.label 邮箱:
    %a{:href => "mailto:mahb45@gmail.com"} ${email}
  %p.user-action
    %a{:href => "/admin/users/1019492/edit"} 修改用户
