#password-protected
  %span.lock-icon
    您的商店首页启用密码保护，密码为:
    = succeed "." do
      %strong pewxay
    您可以
    =link_to '修改或删除', general_preferences_path
    此密码.
=render partial:"shared/noscript"
=render partial:"shared/upgrade_ie"
#store-completion
  %h1 ShopQi欢迎您！在您启用商店之前，我们将引导您完成7个小步骤.
  #what-is-next.clearfix
    =image_tag 'admin/icons/progressbar/add_product.jpg'
    #next-step-description
      %h2
        %strong 下一步骤:
        商品
      %p
        您的商店还没有商品! 前往
        %a.show_add_product_guide(data-guide-position="bottom" data-guide-target="#navlist li a[href='/admin/products']" data-guide-text="点击此处增加一个商品" href="#add_product")
          %em.icon
          %strong.triangle
          商品页面
        并且增加您的第一个商品.
    / #name
  / #what-is-next
  #progress-bar=render 'progress_task'
  .skip-setup
    %form.button_to(action="https://hfmhb.myshopqi.com/admin/dashboard/skip_tutorial" method="post")
      %div
        %input(name="_method" type="hidden" value="put")/
        %input.skip-tutorial(data-confirm="您确定要退出当前设置导引，现在启用商店?" type="submit" value="跳过商店设置，直接启用商店")
  / .skip-setup
/ #store-completion
