#password-protected
  %span.lock-icon
    您的商店首页启用密码保护，密码为:
    = succeed "." do
      %strong pewxay
    您可以
    =link_to '修改或删除', general_preferences_path
    此密码.
=render partial:"shared/noscript"
=render partial:"shared/upgrade_ie"
#store-completion
  =render "home/guide/#{@task.name}"
  #progress-bar=render 'progress_task'
  .skip-setup
    %form.button_to(action="https://hfmhb.myshopqi.com/admin/dashboard/skip_tutorial" method="post")
      %div
        %input(name="_method" type="hidden" value="put")/
        %input.skip-tutorial(data-confirm="您确定要退出当前设置导引，现在启用商店?" type="submit" value="跳过商店设置，直接启用商店")
  / .skip-setup
/ #store-completion
