=content_for :javascripts do
  =javascript_include_tag 'plugins/jquery.guide'

#password-protected
  %span.lock-icon
    您的商店首页启用密码保护，密码为:
    = succeed "." do
      %strong pewxay
    您可以
    =link_to '修改或删除', general_preferences_path
    此密码.
=render partial:"shared/noscript"
=render partial:"shared/upgrade_ie"
#store-completion
  %h1 ShopQi欢迎您！在您启用商店之前，我们将引导您完成7个小步骤.
  #what-is-next.clearfix
    =image_tag 'admin/icons/progressbar/add_product.jpg'
    #next-step-description
      %h2
        %strong 下一步骤:
        商品
      %p
        您的商店还没有商品! 前往
        %a.show_add_product_guide(data-guide-position="bottom" data-guide-target="#navlist li a[href='/admin/products']" data-guide-text="点击此处增加一个商品" href="#add_product")
          %em.icon
          %strong.triangle
          商品页面
        并且增加您的第一个商品.
    / #name
  / #what-is-next
  #progress-bar(style="true")
    %ul.clearfix
      %li#add_product.add_product.incomplete
        %span
          %a.show_add_product_guide(data-guide-position="bottom" data-guide-target="#navlist li a[href='/admin/products']" data-guide-text="点击此处增加一个商品" href="#add_product")
            %em.icon
            %strong.triangle
            添加商品
      %li#customize_theme.customize_theme.incomplete
        %span
          %a.show_customize_theme_guide(data-guide-position="left" data-guide-target="#nav-theme-settings a" data-guide-text="点击此处修改您的主题外观" href="#customize_theme")
            %em.icon
            %strong.triangle
            定制外观
      %li#add_content.add_content.incomplete
        %span
          %a.show_add_content_guide(data-guide-position="bottom" data-guide-target="#navlist li a[href='/admin/pages']" data-guide-text="点击此处修改您的内容" href="#add_content")
            %em.icon
            %strong.triangle
            内容管理
      %li#setup_payment_gateway.setup_payment_gateway.incomplete
        %span
          %a.show_setup_payment_gateway_guide(data-guide-position="left" data-guide-target="#payment a" data-guide-text="点击此处选择您的支付网关" href="#setup_payment_gateway")
            %em.icon
            %strong.triangle
            支付网关
      %li#setup_taxes.setup_taxes.incomplete
        %span
          %a.show_setup_taxes_guide(data-guide-position="left" data-guide-target="#regions a" data-guide-text="点击此处设置您的税率" href="#setup_taxes")
            %em.icon
            %strong.triangle
            调整税率
      %li#setup_shipping.setup_shipping.incomplete
        %span
          %a.show_setup_shipping_guide(data-guide-position="left" data-guide-target="#shipping a" data-guide-text="点击此处设置您的物流费用" href="#setup_shipping")
            %em.icon
            %strong.triangle
            物流配送
      %li#setup_domain.setup_domain.incomplete
        %span
          %a.show_setup_domain_guide(data-guide-position="left" data-guide-target="#network a" data-guide-text="点击此处管理您的域名" href="#setup_domain")
            %em.icon
            %strong.triangle
            绑定域名
      %li.launch.incomplete
        %span
          %strong 启用您的商店
  / #progress-bar
  .skip-setup
    %form.button_to(action="https://hfmhb.myshopqi.com/admin/dashboard/skip_tutorial" method="post")
      %div
        %input(name="_method" type="hidden" value="put")/
        %input.skip-tutorial(data-confirm="您确定要退出当前设置导引，现在启用商店?" type="submit" value="跳过商店设置，直接启用商店")
  / .skip-setup
/ #store-completion

:javascript
  $("a[data-guide-target]").guide();
