#password-protected
  %span.lock-icon
    您的商店首页启用密码保护，密码为:
    = succeed "." do
      %strong pewxay
    您可以
    =link_to '修改或删除', general_preferences_path
    此密码.
=render partial:"shared/noscript"
=render partial:"shared/upgrade_ie"
#store-completion
  =render "home/guide/#{@task.name}"
  #progress-bar=render 'progress_task'
  -unless @task.is_launch?
    .skip-setup
      =form_tag skip_tutorial_path, method: :post, class: :button_to do
        =submit_tag '跳过商店设置，直接启用商店', confirm: '您确定要退出当前设置导引，现在启用商店?', class: 'skip-tutorial'
    / .skip-setup
/ #store-completion

:coffeescript
  $('#launch a').live 'click', ->
    $('#launch_btn').click()
    false
