%h2#title 快递费用
#shipping-rates.cl
  #custom-shipping
    .pgroup(style="margin-top:0")
      %table.shipping-rates-table.data.st.ssb(cellpadding=0 cellspacing=0)
        %tr
          %th
            =image_tag("admin/countries/cn.gif")
            中国
          %th(style="width: 160px") &nbsp;
          %th(style="width: 110px") &nbsp;
          %th(style="width: 80px") &nbsp;
        %tbody#standard-rate
        %tbody#promotional-rate
        %tr
          %td.new-rate-link.no-border.action-link(colspan="4")
            %p.add.icon
              %span.action
                %a(href="#" onclick="$('#new-promotional-rate').hide();$('#new-promotional-rate-done').hide();$('#new-standard-rate').show();$('#new-standard-rate-done').show();$('#standard-rate-name-new').focus(); return false;" style="display: inline")新增基于重量的费用
              |
              %span.action
                %a(href="#" onclick="$('#new-standard-rate').hide();$('#new-standard-rate-done').hide();$('#new-promotional-rate').show();$('#new-promotional-rate-done').show();$('#promotional-rate-name-new').focus(); return false;" style="display: inline")新增基于价格的费用
        %tr(style="display:none" id="new-standard-rate")
          %td(colspan="4" style="padding:0")
            =form_for WeightBasedShippingRate.new, remote: true do |f|
              %table.new-rate-table
                %tr
                  %td.new-rate.rate-name(style="padding-left: 10px")
                    %label(for="standard-rate-name-new")名称
                    =f.text_field :name,maxlength: 255, style: 'width:100%',id:"weight_based_shipping_rate_name"
                  %td.new-rate.rate-weight
                    %label(for="rate-weight-low-new")重量
                    =f.text_field :weight_low,maxlength: 3, class: 'r'
                    =succeed "-" do
                      %strong kg
                    =f.text_field :weight_high,maxlength: 3,  class: 'r'
                    %strong kg
                  %td.new-rate.rate-price
                    =f.label :price
                    %strong ¥
                    =f.text_field :price, class: 'r',size: 5
                    %strong RMB
                %tr.no-lines(style="display:none" id="new-standard-rate-done")
                  %td.new-rate-done(colspan="3")
                    =f.submit w('save')
                    =w('or')
                    %span.action
                      %a(href="#" onclick="$('#new-standard-rate').hide();$('#new-standard-rate-done').hide(); return false;")取消
        %tr(style="display:none" id="new-promotional-rate")
          %td(colspan="4" style="padding:0")
            =form_for PriceBasedShippingRate.new, remote: true do |f|
              %table.new-rate-table
                %tr
                  %td.new-rate.rate-name(style="padding-left: 10px")
                    =f.label :name
                    =f.text_field :name, maxlength: 255, style: 'width:100%',id:"price_based_shipping_rate_name"
                  %td.new-rate.rate-min-order-subtotal(style="width:220px;")
                    %label 价格区间
                    %strong ¥
                    =f.text_field :min_order_subtotal, size: 5
                    %strong RMB
                    %span(style="" id="show-max-purchase")
                      %a(href="#" onclick="$('#show-max-purchase').hide();$('#edit-max-purchase').show();$('#rate-max-order-subtotal-new').focus();return false;")以上
                    %span(style ="display:none" id="edit-max-purchase")
                      \&mdash;
                      %strong ¥
                      =f.text_field :max_order_subtotal,class:'r',size: 5, onblur: "if($(this).val() =='')($('#edit-max-purchase').hide();$('#show-max-purchase').show())"
                      %strong RMB
                  %td.new-rate.rate-price
                    =f.label :price
                    %strong ¥
                    =f.text_field :price,size: 5,class: 'r'
                    %strong RMB
                %tr.no-lines(style="display:none" id="new-promotional-rate-done")
                  %td.new-rate-done(colspan="3")
                    =f.submit w('save')
                    =w('or')
                    %span.action
                      %a(href="#" onclick="$('#new-promotional-rate').hide();$('#new-promotional-rate-done').hide(); return false;")取消
.pgroup.st

%script(id="standard-rate-item" type="text/x-handlebars-template")
  %td.weight-based
    %span.rate-summary
      %a(href="/admin/weight_based_shipping_rates/{{id}}/edit") {{name}}
  %td {{weight_low}}kg - {{weight_high}}kg
  %td ¥{{price}}RMB
  %td.r
    %a.del(href="#")=image_tag 'admin/icons/trash.gif'
%script(id="promotional-rate-item" type="text/x-handlebars-template")
  %td.price-based
    %span.rate-summary
      %a(href="/admin/price_based_shipping_rates/{{id}}/edit") {{name}}
  %td ¥{{min_order_subtotal}} {{max_order_subtotal}}
  %td ¥{{price}}RMB
  %td.r
    %a.del(href="#")=image_tag 'admin/icons/trash.gif'

:javascript
  App.weight_based_shipping_rates = new App.Collections.WeightBasedShippingRates();
  App.price_based_shipping_rates = new App.Collections.PriceBasedShippingRates();
  App.weight_based_shipping_rates.refresh(#{weight_based_shipping_rates_json});
  App.price_based_shipping_rates.refresh(#{price_based_shipping_rates_json});
  new App.Views.Shipping.Index()

  task_name ='setup_shipping';
