%h2#title 结账&支付
#action-links
  %ul
=render partial:"shared/noscript"
=render partial:"shared/upgrade_ie"
%h4 支付网关
%p.description
  支付网关可以允许您商店的顾客使用相应的支付方式为订单付款(例如，支付宝). 获取更多的信息，
  = succeed "." do
    =link_to '请点击这里',faq_path
.pgroup
  =render 'alipay'
  =render 'tenpay'
  #custom-payment-methods.payment-service-provider
    %table
      %tr
        %td.fl{:style => "padding:10px;width:225px"}=image_tag 'admin/icons/custom_payment_method.gif'
        %td
          %table.desc
            %tr
              %td.r 支付方式:
              %td.meta
                %strong 普通支付方式
            %tr
              %td.r 描述:
              %td.meta 一些不需要银行卡的支付方式，例如，银行转账，货到付款等
    %dl#manual_payment_gateways.cl.sst{:style => "padding: 0px 0 0 0px;margin-bottom: 0; border-top: 1px solid #ddd"}
      =render partial:'custom-payment'
      %dt.nst{:style => "padding: 10px 0 10px 10px;"}
        %select#select_custom_payment_method{:name => "", :style => "width: 300px;"}
          %option(value= "") 选择增加普通支付方式
          =options_for_select  custom_types
      %dd#account_manual_payment_gateway.nsb{:style => "display:none;border-top: 1px solid #ddd"}
        =form_for payment, html:{id: 'new_custom_payment', onsubmit: 'return false'} do |f|
          .group-fields
            .sb
              =f.label :name
              %p.credential=f.text_field :name
            .sb
              %label{:for => "message_manual_payment_gateway"}
                %span.hint 当顾客结账时，下面提示会呈现给顾客
              %p.credential
                =f.text_area :message, cols: 40,rows: 10
          .group-actions
            =f.submit w('save'),class: 'btn'
            =w('or')
            =link_to w('cancel'),'#',id:'cancel_custom_payment_form'
          / .group-actions
#checkout-configuration
  =form_for shop, html:{id:'checkout-config', onsubmit: 'return false'} do |f|
    .group
      .group-fields
        %h3.l{:style => "color: #999;font-size: 18px; font-weight: normal; margin: 5px"} 顾客付款设置
        #customer-accounts
          %h5.note.st 这个设置将影响顾客如何付款.
          .st.sb.sl
            %ul.nobull
              %li
                =f.radio_button :customer_accounts,''
                %label{:for => "shop_customer_accounts_"}
                  不需要注册
                  %span.hint 不提供顾客注册功能，用户将以游客的形式付款
              %li
                =f.radio_button :customer_accounts,'optional'
                %label{:for => "shop_customer_accounts_optional"}
                  可选注册
                  %span.hint 用户可选择登陆，也可以不登陆付款
              %li
                =f.radio_button :customer_accounts,'required'
                %label{:for => "shop_customer_accounts_required"}
                  必须注册
                  %span.hint
                    用户必须注册账号才能付款
          #customer-accounts-required.message{:style => "margin:15px 0 0 0; display:none;"}
            %p 顾客只有当注册账号之后才能下单
      / .group-fields
      .group-actions
        %input.btn#checkout{:name => "commit", :type => "submit", :value => "保存"}/
      / .group-actions
    / .group
/ checkout config
.group
  =render partial: 'policy'

:javascript
  App.custom_payments = new App.Collections.Payments();
  App.custom_payments.refresh(#{custom_payments.to_json(except: [:created_at,:updated_at])})

  App.payment_alipay = new App.Models.Payment(#{payment_alipay_json});
  App.payment_tenpay = new App.Models.Payment(#{payment_tenpay_json});

  new App.Views.Payment.Index({collection: App.custom_payments})

  task_name = 'setup_payment_gateway'
