=content_for :javascripts do
  =javascript_include_tag 'views/customers/new/index'

%h2#title 新增顾客
#action-links
  %ul
    %li.no-icon=link_to "返回", customers_path
=render "shared/noscript"
=render "shared/upgrade_ie"
=message_block on: customer
.col-4
  #customer-box.box2.preview
    %table#customer-summary(cellpadding="0" cellspacing="0")
      %tr.first
        %td.attribute=image_tag 'admin/icons/customer.gif', id: :gravatar
        %td.value
          %h3
            %span#preview_customer_first_name
            %span#preview_customer_last_name
          %p(style="line-height:16px;")
            %a(href="#")
              %span#preview_customer_email
            %br/
            %span#preview_customer_phone
      %tr#address_preview
        %td.attribute 默认地址
        %td.value
          %span#preview_customer_company
          %span#preview_customer_province
          %br/
          %span#preview_customer_city
          %br/
          %span#preview_customer_district
          %br/
          %span#preview_customer_address1
          %span#preview_customer_address2
          %span#preview_customer_zip
          %br/
          %span#preview_customer_country
#new-customer-screen.customer.col-8.last
  =form_for customer, validate: false do |f|
    .section-header(style="margin-top:0;") 顾客信息
    .customer-group.white.clearfix
      .pb.clearfix
        .fl
          =f.label :name
          =f.text_field :name
      .pb.clearfix
        .fl
          =f.label :email
          =f.text_field :email
    #customer-addresses
    %div
      .section-header
        地址信息
        %span.instruction 非必填
      .customer-group.white
        =f.fields_for :addresses, child_index: '' do |a|
          .pb.clearfix
            .fl
              =a.label :company
              =a.text_field :company, class: [:sr, :name, :company]
            .fl
              =a.label :phone
              =a.text_field :phone, class: :phone
          .pb.clearfix.region
            .fl(style="margin-right:10px")
              %label(for="customer_addresses_0_province") 地区
              =a.select :province, District.list, {include_blank: '--省份--'}, style: 'width: 106px'
              =a.select :city, District.list(customer.addresses.first.province), {include_blank: '--城市--'}, style: 'width: 106px'
              =a.select :district, District.list(customer.addresses.first.city), {include_blank: '--地区--'}, style: 'width: 106px'
          .pb.clearfix
            .fl
              =a.label :address1
              =a.text_field :address1, class: :city
            .fl
              =a.label :zip
              =a.text_field :zip, class: :postal
      .customer-group.white
        .pb.clearfix
          .fl=f.check_box :accepts_marketing
          .fl=f.label :accepts_marketing
    .section-header
      备注
      %span.instruction 非必填
    .customer-group.white=f.text_area :note, size: '40x20'
    .section-header
      标签
      %span.instruction 非必填
    .customer-group.white.ssb
      %p.note.sb 多个关键词之间用逗号(,)隔开。
      =f.text_field :tags_text, id: :tags_text
      -if tags.empty?
        %p.note 例如: VIP
      -else
        %p.note(style="clear: both") 最近使用过的标签，单击增加。
        %ul#tag-list.clearfix.nobull.st
          -tags.each do |tag|
            %li
              %a(href="#")=tag.name
    .group-actions
      %input.btn(name="commit" type="submit" value="保存")
      或者
      =link_to "取消", customers_path

:javascript
  new App.Views.Customer.New.Index();
