%h2#title 订单管理
-#
  #action-links
    %ul
      %li.small-icon
        %a.feed(href="/admin/feed") RSS订阅订单
      %li.csv
        %a(href="#") 导出订单
=render "shared/noscript"
=render "shared/upgrade_ie"
-#=render :export
