=render "menu"

#blank-slate.blank-slate.clearfix.ppb
  .heading
    %h3 您暂时还没有订单.
    %p 在这里，您以后能看到订单，对它们进行管理.
  .details.clearfix
    #blank-slate-features.features.default.fl
      %ul
        %li.overview-your-orders
          %h3 管理您的订单
          %p 您可以在列表中看到谁下了订单，总金额和订单的状态.
        %li.filter-your-orders
          %h3 过滤您的订单
          %p 通过支付状态、物流状态和是否关闭来过滤订单.
        %li.last.bulk-actions-orders
          %h3 批量操作
          %p 使用批量操作可以对多个订单执行接收货款、关闭和开启等操作.
    /.features
    #blank-slate-screenshot.screenshot.fl
      =image_tag 'admin/orders-blank-slate.jpg'
      .overlay.filter-your-orders(style="width:528px; height:24px; top:57px; left:12px;")  
      .overlay.bulk-actions-orders(style="width:85px; height:17px; top:111px; left:12px;")  
      .overlay.overview-your-orders(style="width:528px; height:455px; top:130px; left:12px;")  
    /.screenshot
  /.details
/#blank-slate
