%h1
  ==#{shop.name} 已经完成
  %strong 15%
  只剩下6个步骤了!
#what-is-next.clearfix
  =image_tag "admin/icons/progressbar/#{@task.name}.jpg"
  #next-step-description
    %h2
      %strong 下一步骤:
      定制外观
    %p
      前往
      %a(data-guide-position="left" data-guide-target="#nav-theme-settings a" data-guide-text="点击此处修改您的主题外观" href="##{@task.name}" class="show_#{@task.name}_guide")
        %em.icon
        %strong.triangle
        主题外观设置
      开始定制您的商店外观
  / #name
/ #what-is-next
