=hidden_field_tag "id", "${id}"
%a.delete.fr(href="#")=image_tag 'admin/icons/trash.gif', :alt => "删除"
=text_field_tag "title", "${title}", :class => :medium
%select.selector.sl(name="link_type")
  =options_for_select link_types.map{|t| [t.name, t.code]}
%select.subject.hide(name="subject_id")
%input.subject_value.hide(type="text" value="${subject}")
=text_field_tag "subject", "${subject}", :class => [:long, :subject_http, 'linkform-hint'], 'data-hint' => "http://shopqi.com"
%input(name="subject_params" type="hidden" value="")
%input.hide.medium.subject_params.linkform-hint(data-hint="根据标记过滤(以逗号分隔)" name="subject_params" size="30" type="text")
