.action-row(id="add_link_control_link_list_${id}")
  .action-link
    %p
      %a.addOne(href="#link_lists/${id}/links/new")
        %span.plus +
        新增链接
.link(id="add_link_form_link_list_${id}" style="display:none;")
  .group
    =form_tag '#' do
      .group-fields
        .add-link-title.link-col
          %span.add-link-header 新链接的名称
          %input.medium(name="link[title]" type="text")
        .add-link-linksto.link-col
          %span.add-link-header 链接至
          %select.selector(name="link[link_type]")
            =options_for_select link_types
          %select.subject(name="link[subject_id]" style="display:none")
          %input.long.subject_http.linkform-hint(data-hint="http://shopqi.com" name="link[subject]" originalname="link[subject]" type="text")
          %input.medium.subject_params.linkform-hint(data-hint="使用标记过滤商品(以逗号,分隔)" originalname="link[subject_params]" type="text" style="display:none;")
      .group-actions
        %input.btn(name="commit" type="submit" value="保存")
        或者
        %a.cancel(href="#") 取消
