defaults: &defaults
  secret_token: 8bca82096c8b053919ce59f08c597536b5e577cc8b247fb1b9c372816043c3d3f8944604d0a424c391d2656d1c829b8ab2e5e03da747ade0984a2adcd792bdc5
  alipay:
    key: ''
    account: ''
    email: ''
  sms:
    smsapi: ''
    charset: ''
    username: ''
    password: ''
  admin_users:
    admin:
      email: admin@lvh.me
      password: 666666
      password_confirmation: 666666

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
