defaults: &defaults
  mail:
    address: "smtp.163.com"
    port: 25
    domain: "example.com"
    user_name: "noreply@example.com"
    password: "666666"
    from: "ShopQi电子商务平台 <noreply@example.com>"

development:
  <<: *defaults
  mail:
    address: "smtp.163.com"
    port: 25
    domain: "example.com"
    user_name: "shopqi_test@163.com"
    password: "666666"
    from: "ShopQi电子商务平台 <shopqi_test@163.com>"

test:
  <<: *defaults

travis:
  <<: *defaults

production:
  <<: *defaults
  mail:
    address: "smtp.gmail.com"
    port: 465
    domain: "shopqi.com"
    user_name: "noreply@shopqi.com"
    password: ""
    from: "ShopQi电子商务平台 <noreply@shopqi.com>"
