production:
  solr:
    hostname: localhost
    port: 8983
    log_level: WARNING
  auto_commit_after_request: false # 索引切换至后台操作后，不能auto_commit

development:
  solr:
    hostname: localhost
    port: 8982
    log_level: INFO
  auto_commit_after_request: false

test:
  solr:
    hostname: localhost
    port: 8981
    log_level: WARNING
  auto_commit_after_request: false
