%h2#title 主题外观配置
#action-links
  %ul
    %li.template-editor=link_to "模板编辑器", theme_assets_path(shop.theme)
=render "shared/noscript"
=render "shared/upgrade_ie"
%form#theme_settings_form(action="#" onsubmit="return false")
  #theme-settings.clearfix(style="border-bottom: none !important")
    #presets.col-4.sst
      %h3 您当前的预设
      %p.note.sb 选择下方的下拉框可以切换外观配置的预设集合。调整右边的配置项目并且保存修改。
      %select#theme_load_preset(name="load_preset")
        %option(value="") 定制
        %option(value="undefined" disabled='disabled') ---
      %span.sl
        %a#delete_theme_preset_link.action.note(href="#") 删除此预设
    #settings_panel.col-8.sst.last
      =render inline: settings_html
      %fieldset.required_setting
        %legend 其他布局
        %table
          %tr
            %th
              %label(for="theme_settings_customer_layout") 自定义布局
            %td
              %select#theme_settings_customer_layout.layout(name="settings[customer_layout]")
                %option(value="customer_area") 默认
                %option(value="") ---
                %option(selected="selected" value="theme") theme
      .r.st.sb
        %input#save-current-setting(name="save-current-setting" type="checkbox" value="")
        %label(for="save-current-setting") 将当前配置保存为预设
      #save-preset.st.sb.r(style="display: none")
        %label(for="theme_save_preset_existing") 保存当前主题配置为
        %select#theme_save_preset_existing(name="save_preset[existing]")
          %option(value="") 一个新的预设
          %option(value="undefined" disabled='disabled') ---
        %span#theme_save_preset_new_container
          %label(for="theme_save_preset_new") 并命名为
          %input#theme_save_preset_new(name="save_preset[new]" type="text")
  %p.r
    %input(name="commit" type="submit" value="保存配置")

%script(id="section-header-item" type="text/x-handlebars-template")
  %h3(class="section-header") {{{title}}}
%script(id="asset-image-item" type="text/x-handlebars-template")
  =dialog '{{{title}}}' do
    %img(src="{{{url}}}")

:javascript
  var theme_id = #{theme.id};
  settings = #{settings_json}
  new App.Views.Theme.Settings.Index();

  task_name = 'customize_theme';
