- @current_signup = :current

#banner
  .content
    %h1(style="font-family:hevletica arial sans-serif") 注册
  / .content
/ #banner
.content.subpage
  %div(style="margin: 200px 0; text-align:center; font-size: 18px;")
    产品改版中，暂不开放注册，请见谅。
