	<div class="col-3 sidebar-nav">
	  <h3>Navigation</h3>
	  <ul>
	     {% for link in linklists.footer.links %}
			<li><a href="{{ link.url }}">{{ link.title }}</a></li>
			{% endfor %}
	 </ul>
	</div><!-- .col-3 sidebar-nav -->
	
	<div class="col-9 last">
	 	<h1>{{ page.title }}</h1>
	 		{{ page.content }}
	</div><!-- .col-9 last -->


	
	