%script(id="user-details-area" type="text/html")
  =dialog '{{ name }}' do
    .user
      %p.st
        %span.label.fl 邮箱:
        %a(href="mailto:{{email}}") {{{ email }}}
      %p
        %span.label.fl 电话:
        {{ phone }}
      {{#is_current_user }}
      %p.user-action
        %a(href="/admin/users/{{id}}/edit") 修改用户资料
      {{/is_current_user}}
