=render partial:"shared/noscript"
=render partial:"shared/upgrade_ie"
#store-completion
  =render "admin/home/guide/#{@task.name}"
  #progress-bar=render 'progress_task'
  -unless @task.is_launch?
    .skip-setup
      =form_tag skip_tutorial_path, method: :post, class: :button_to do
        =submit_tag '跳过商店设置，直接启用商店', confirm: '您确定要退出当前设置导引，现在启用商店?', class: 'skip-tutorial'
    / .skip-setup
/ #store-completion

:javascript
  $('#launch a').live('click',function(){
    $('#launch_btn').click();
    return false;
    });
