=form_for shop  do |f|
  .group-fields
    %h3.light 政策
    .pgroup{:style => "margin:0"}
      %h4 退款，隐私以及服务条款
      %p.note.st.ssb
        你可能希望需要将您商店的退款，隐私以及服务条款链接到您商店的付款页面.在对应的地方包含这些纯文本信息
        %br/
      =f.fields_for :policies,:title do |v|
        %h4=v.object.title
        .sb
          =v.text_area  :body , rows: 4, style: 'max-height: 400px'
          =v.hidden_field :title, value: v.object.title
  / .group-fields
  .group-actions
    =f.submit w('save'), class: 'btn'
  / .group-actions
