=form_for [product, variant] do |v|
  .section-header.sst 新的款式
  %table.data.no-border(cellpadding="0" cellspacing="0" style="width: 650px")
    %tr
      %td(colspan="4")
        %p.sb
          %span.note.highlight-alt 您的顾客选择此款式后会看到以下信息:
        -product.options.each_with_index do |option, index|
          -position = index + 1
          .new-variant-option
            %label(for="product_variant_option#{position}" class="option-#{position}")=option.name
            %br
            =text_field_tag "product_variant[option#{position}]", nil, style: "font-size:14px; width:100%", class: [:st, :ssb]
            -#%input(type="hidden" name="options[]" value="Title")
        .clearfix
    %tr.divider
      %td
        %label(for="variant_sku")
          SKU
          %span.note 库存量单位
        %br
        =v.text_field :sku, size: 20, class: :st
      %td
        %label(for="variant_price") 销售价格
        %br
        =v.text_field :price, size: 8, class: :st
        元
      %td
        %label(for="variant_compare_at_price")
          市场价
          %span.note (非必填)
        %br
        =v.text_field :compare_at_price, size: 8, class: :st, style: 'width: 80px'
        元
      %td
        %label(for="variant_weight") 重量
        %br
        =v.text_field :weight, size: 8, class: [:st, :requires_shipping_relate], style: 'width: 40px'
        kg
    %tr.no-border
      %td(colspan="4")
        %table.secondary-variant-options
          %tr.no-border
            %td.secondary-header
              %label(for="product_variant_requires_shipping") 要求收货地址
            %td
              =v.check_box :requires_shipping, class: :requires_shipping
              %input(name="variant[requires_shipping]" type="hidden" value="0")
              %span.hint 服务性质或者数字之类的商品不需要勾选
          %tr.no-border
            %td.secondary-header
              %label(for="inventory-select-new") 库存
            %td
              =v.select :inventory_management, inventory_managements, {}, class: :inventory_management
              .inventory_management_relate.hide
                %div
                  .inventory-option.sst.hide
                    %p.soft
                      =v.label :inventory_quantity
                      =v.text_field :inventory_quantity, class: [:small, :r, 'digit-2'], size: 6
                %p.soft(style="margin: 10px 0 0 0")
                  -inventory_policies.each do |policy|
                    =v.radio_button :inventory_policy, policy.code
                    %label.inline(for="product_variant_inventory_policy_#{policy.code}")=policy.name
                    %br/
  .btns(style="margin-top: 20px")
    %input.btn(name="commit" type="submit" value="保存")
    =w('or')
    %a.cancel(href="#")=w('cancel')
