=content_tag :li, product, class: :clear
  .sortable-related
    .sortable-related{:style => "float: left; position: relative; top: 15px"}
      .vlistitem
        =image_tag 'admin/icons/drag_handle.gif', style: "width: 11px; height: 11px"
    .small-product-image
      =image_tag 'admin/no-image-icon.gif', class: :images
    .collection-info
      %p
        =link_to product_path(product), product.name
      .hint==#{product.vendor}, #{product.type}
