%li.collection
  = link_to smart_collection.title, smart_collection_path(smart_collection), title: "handle: #{smart_collection.handle}"
  %p 0 products
  %p Variant price is greater than 2 and Vendor is less than 2
