%li.collection
  = link_to smart_collection.title, smart_collection_path(smart_collection), title: "handle: #{smart_collection.handle}"
  %p==#{smart_collection.products.size} 个商品
  %p=smart_collection.rules_info
