- use_kindeditor
=content_for :javascripts do
  =javascript_include_tag 'controllers/smart_collections'

%h2#title 新增智能集合
#action-links
  %ul
    %li.no-icon=link_to "取消", '#'
=form_for smart_collection do |f|
  .group
    %dl
      %dt.top
        %label 标题
      %dd=f.text_field :title, class: :big
      %dt
        %label 描述
        %span.note (非必填)
      %dd(style="margin-bottom:0")=f.text_area :body_html, id: 'kindeditor', style: "width: 895px; height: 200px;"
  #smart-form.pgroup.sst
    %h3 设置条件
    %p.hint 你可以通过右边的按钮新增多个条件
    %ul#smartcollectionform.nobull(style="margin:0;padding:0")
      -#=render :partial => "rule", collection: smart_collection.rules
  .pgroup.sst
    %p.hint
      如果你需要为集合挑选指定的商品，请使用
      %a(href="/admin/custom_collections/new") 自定义集合
      \.
  %p.btns
    %input#submit-collection-btn.btn(name="commit" type="submit" value="保存")
    或者
    %a.cancel(href="#") 取消

:javascript
  App.init = function(){
    new App.Controllers.SmartCollections();
    Backbone.history.start();
  }
