%li.product-edit-collection
  =check_box_tag 'product[custom_collection_ids][]', collection.id, product.custom_collections.include?(collection) || (collection.handle == 'frontpage' and collection.products.size.zero?), id: "collection_#{collection.id}"
  %label(for="collection_#{collection.id}")=collection.title
