%h2#title 地区 &amp; 税率
#action-links
  %ul
    %li#add-region
      =link_to '新增目的地', new_country_path(country)
.box2.ssb
  =form_for shop, remote: true do |f|
    %h3 税 率 设 置
    %p
      世界各地所征的税收基本上是不一样的。例如，在北美（销售税）和欧洲（增值税）就有不同的税收制度。
      增值税是指所有的税收在价格中。营业税意味着不包括任何税项，并在结帐过程中添加的小计。
      同样，一些地区需要收取运费和手续费税费，有的则不需要。您可以在这里为各个地区选择的合适的选项。
    %p.st
      =f.check_box :taxes_included, onclick: "$(this).closest('form').submit()"
      %label{:for => "shop_taxes_included"} 所有税收已包含在商品价格中
    %p.st
      =f.check_box :tax_shipping, onclick: "$(this).closest('form').submit()"
      %label{:for => "shop_tax_shipping"} 关税
.pgroup{:style => "margin-top:0"}
  %table#countries.data{:cellpadding => "0", :cellspacing => "0"}
    %tr
      %th{:colspan => "2"} 目的地
      %th 应征税率
      %th &nbsp;
    =render countries
