.compare
  #compare-content.data.highlight
    %table(cellpadding="0" cellspacing="0")
      -@lines.each do |line|
        %tr
          %td.line_numbers=line[:ldln]
          %td.line_numbers=line[:rdln]
          %td
            %pre(class="#{line[:class]}")=line[:line].force_encoding('UTF-8')
