-use_gollum
#wiki-history
  %ul.actions
    =link_to '比较', '#',onclick: "$('#version-form').submit();return false;"
  %form#version-form(action= "/compare/#{@name}" method= "post" name="compare-versions")
    %table
      %tbody
        -@versions.each do |version|
          %tr
            %td.checkbox
              %input{:name => "versions[]", :type => "checkbox", :value => version[:id]}/
            %td.author
              %a{:href => "javascript:void(0)"}
                %img.mini-gravatar{:alt => "avatar: liwh", :src => "http://www.gravatar.com/avatar/#{version[:gravatar]}?s=16"}/
                %span.username=version[:author]
            %td.commit-name
              %span.time-elapsed>= version[:date]
              \&nbsp;
              [
              =link_to version[:id7],"/#{@name}/#{version[:id]}"
              ]
