#shopqi-theme-controls * {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: normal normal bold 14px "Helvetica Neue", Helvetica, Arial;
  vertical-align: baseline;
  background: transparent;
  line-height: 1;
  color: #fff;
}

#shopqi-theme-controls {
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 10px 0px 15px 10px;
  line-height: 1;
  background: #b11a08;
  border-width: 0 0 2px 2px;
  border-style: solid;
  border-color: #7a2221;
  z-index: 2147483647;
  transition: all .2s linear;
  -o-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
}

#shopqi-theme-controls .title {
  margin: 5px;
}

#shopqi-theme-controls .links {
  margin: 5px;
}

#shopqi-theme-controls ul {
  list-style: none;
  display: inline;
}

#shopqi-theme-controls li {
  display: inline;
}

#shopqi-theme-controls a {
  padding: 5px;
}
