-use_javascripts 'controllers/users'
=javascript_include_tag :on_the_spot
%h2#title 你的帐户信息
#action-links
  %ul
=render partial:"shared/noscript"
=render partial:"shared/upgrade_ie"
=render partial:'plans'
-#=render partial:'payment'
.group.box2
  %table#account-about.values-aligned{:cellspacing => "0"}
    %tr
      %td.r 您的商店URL地址:
      %td=show_shop_url
    %tr
      %td.r
        SKUs used:
      %td
        %div{:style => "width:140px"}
          .progress-container{:style => "margin-top:7px"}
            .progress-bar{:style => "width: 21%; "}
        %span.note{:style => ""} 79 remaining
    %tr#disk-management
      %td.r
        Storage space:
      %td
        %div{:style => "width:170px"}
          .progress-container{:style => "margin-top:7px"}
            .progress-bar{:style => "width: 2%; "}
        %span.note 97.1 MB free
    %tr
      %td &nbsp;
      %td
        %a.icon.uploaded-files{:href => "/admin/files"} show uploaded files
    %tr
      %td.r Member since:
      %td April 13, 2011
      %td.r Next invoice:
      %td May 14, 2011
    %tr
      %td.r Account status:
      %td{:colspan => "3"} active
#staff-members.group.box2
  %h3 用户列表
  #user-list
    %table.data.st{:cellspacing => "0"}
      =render users
      -if current_user.is_admin?
        %tr
          %td.r{:colspan => "4", :style => "border-bottom:none"}
            =link_to '新增用户',"#",id:"add-user",class:'btn'
            #new-user-form{:style => "display:none; text-align: left"}
              =form_for user,remote:true,validate:true,html:{id:"new_user",class:"new_user"} do |f|
                %h3 增加新的用户
                %p.note
                  新的用户可以
                  %strong 进入
                  = succeed "." do
                    %strong 你商店的管理页面
                  初始密码为666666
                %dl
                  %dt=f.label :name
                  %dd=f.text_field :name
                  %dt=f.label :email
                  %dd=f.text_field :email
                %p.sst
                  %input.btn{:name => "commit", :type => "submit", :value => "新增"}/
                  =w('or')
                  %a{:href => "#",id:'cancel'} 返回
-if current_user.is_admin?
  #billing-cycles.group.box2
    %h3 费用清单
  .group.box2
    %h4 需要改变商店所有者?
    =form_for user,url:{action:"change_ownership"} do |f|
      %p.note
        作为帐户所有者可以访问这个页面上的信用卡和帐单信息和修改的信用卡。您可以将所有权转让给任何其他用户，
        = succeed "." do
          %strong 但您将无法访问此页
      =f.select :id, users.all.delete_if{|u|u == current_user}.collect{|p|[p.name,p.id]},{},class:'sst',style: "width: 160px; margin-right: 0px;"
      %input{:name => "commit", :style => "position: relative; bottom: 2px", :type => "submit", :value =>"改变帐户所有者"}/
  #cancel-shop.group.box2
    %h4 想要关闭你的商店?
    %p.note 一旦你的帐户退出了,你商店的一切将被永久删除
    %p.st
      =link_to "删除我的帐户(我知道这是无法恢复的)",user_path(current_user),method: :delete
%hr/
=render partial:"home/show_user"
:javascript
  App.init = function(){
    new App.Controllers.Users();
    Backbone.history.start();
  }

