$("#order-notification-list").show();
$('#add-subscription').before('#{escape_javascript( render(partial: "subscription", locals:{s: subscribe}))}')
$("#add-subscription").hide();
$('#subscription-#{subscribe.id}').effect('highlight',{},2000)
msg("为 #{subscribe.email_address} 增加提醒成功！");
$("#address").val(null);
$("#number").val(null);
