%h2#title 邮件 &amp; 提醒
#action-links
  %ul
=render partial:"shared/noscript"
=render partial:"shared/upgrade_ie"
.pgroup
  %h3 编辑邮件模板
  %p.note 这些邮件会自动发送给您或者客户,您可以通过编辑以下的邮件模板
  %br/
  %ul#email-templates.clearfix
    -KeyValues::Mail::Type.all.each do |type|
      %li
        %a{:href => edit_email_path(emails.find_by_mail_type(type.code))}
          %strong=type.name
          %em=type.des
/ pgroup
.pgroup
  %h3 订单提醒
  %p.note.sb 当有顾客下了新的订单时，您可以设置提醒的邮件地址。
  #order-notification-list
    %table#order-notification-table.data{:cellpadding => "0", :cellspacing => "0"}
      %tr
        %th{:colspan => "4", :style => "padding-left: 10px"} 当有顾客下单时：
      -subscribes.each do |s|
        =render partial: 'subscription',locals: {s: s}
      %tr#add-subscription
        %td.action-link{:colspan => "4"}
          %p#add-notify
            %span.plus +
            %a{:style => "display:inline"} 新增邮件提醒
      / end add-subscription
  / end order-notification-list
  %p#add-subscription-btn(style='display:none')
    %input.btn(onclick="$('#add-subscription-details').toggle(); $('#add-subscription-btn').toggle();$('#email-detail').show();" type="button" value="增加新的订单提醒")
  #add-subscription-details{:style => "display:none"}
    =form_for :subscribe, url: notifications_subscribe_path, remote: true do |f|
      %dl
        %dt 增加一个新的订单提醒
        %dd.sb
          %label{:for => "subscription-type"} 提  醒
          %select#subscription-type{:name => "subscribe_type"}
            %optgroup{:label => "提醒方式..."}
              %option{:value => "email"} 邮件地址&hellip;
            %optgroup{:label => "或者发送邮件给本店用户"}
              =options_for_select users.map{|u|[u.name,u.id]}
        %dd#email-detail.details.st.sb{:style => "display:none"}
          %label{:for => "address"} 邮件地址
          %input#address{:name => "address", :size => "30", :type => "text", :value => ""}/
        %dd#cellphone-detail.details.sb{:style => "display:none"}
          %p.sb
            %label{:for => "number"} 电话号码
            %input#number{:name => "number", :size => "15", :type => "text", :value => ""}/
          %p.note.st.sb
        %dd.sst.btn-divider.cl
          %input.btn{:name => "commit", :type => "submit", :value =>"保存" }
          =w('or')
          %a#cancel(href="#")=w('cancel')
#webhooks.pgroup
  %h3 事件回调
  %p.note.sb 您可以订阅商品或者订单的各种事件，当这些事件发生时，可以向指定的网站发送信息。
  .section
    %table#webhooks-table.data(cellspacing=0 cellpadding=0)
      %thead
        %tr
          %th 事件
          %th(colspan=3) 回调 URL 地址
      %tbody#webhook_body
        %tr.c.note
          %td(colspan=4 style="padding: 10px 0;") 当前没有订阅任何事件
        %tr#add-webhook
          %td.action-link(colspan=4)
            %a(href="#")
              %span.plus +
              新增事件回调

    #add-webhook-details.hide
      %form(action="#")
        %dl
          %dt 新增事件回调
          %dd#webhooks-event.sb
            %label(for="webhook_event") 事件
            %select#webhook_event(name="webhook[event]")=options_for_select webhook_events
          %dd#webhooks-callback_url
            %label(for="webhook_callback_url") 回调 URL 地址
            %input#webhook_callback_url(name="webhook[callback_url]" size="40" type="text" value="http://")
              %p.note.st.sb
                当所选择的事件发生时，ShopQi 将向 回调 URL 地址发送 POST 请求，并带上相应的数据信息。
          %dd.btn-divider
            %input.btn(name="commit" type="submit" value="订阅")
            =w('or')
            %a.cancel(href="#")=w('cancel')
%script(id="webhook-item" type="text/x-handlebars-template")
  %td.event_name
    %strong {{{event_name}}}
  %td.callback_url {{{callback_url}}}
  %td.r
    -#
      %a(href="/send_example") 发送测试信息
  %td.r
    %a.destroy(href="#")=image_tag 'admin/icons/trash.gif', alt: '删除'

:javascript
  new App.Controllers.Emails()
  App.webhooks = new App.Collections.Webhooks();
  App.webhooks.refresh(#{webhooks_json});
  new App.Views.Webhook.Index({collection: App.webhooks})
