!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
  %body
    %p==主题:#{@subject}
    %pre
      %code
        = params[:view_type] == 'html' ? raw(@body) : @body
