#container
  #dialog
    .status
      %p 删除ShopQi账户
    %h3 我们希望您能再考虑下
    %p.info
      我们正在不断完善ShopQi的功能，希望使它成为最好用的电子商务平台。如果您对我们产品有任何意见，我们希望您能给我们提供您对我们产品的要求,我们很乐意为您提供服务。同样，如果您在使用过程中，有任何问题，我们也很乐意为您提供帮助。
    %p.st
      我们的电话是:
      %big{:style => "color: #659319"}
        400-6767-888
    =form_for cancel_reason,url: account_index_path, method: 'delete'  do |f|
      .ppb
        %h3.sst 依然想要关闭商店？
        %p.sb
          %label{:for => "cancel_reason_selection", :style => "padding-right: 8px"} 您关闭的是因为?
        =f.select :selection,options_for_select([["选择一个原因",nil]] + cancel_reason_options)
        #cancel_reason_text_details
          %p
            %label#cancel_reason_detailed_label{:for => "cancel_reason_detailed"} 请您具体的告诉我们您关闭商店的原因？
          %textarea#text-details{:cols => "40", :name => "cancel_reason[detailed]", :rows => "4", :style => "width: 80%"}
      .actions
        %input.btn.red-btn{:name => "commit", :type => "submit", :value => "关闭商店"}/
        %p.note{:style => "margin-top: 5px"}
          %span.highlight 您将删除您所有的商品信息，订单信息以及其它的一些内容
        %p.st.sb 或者
        %a.btn.green-btn{:href => "/admin/account"} 我改变注意了，返回商店
