#container
  #dialog
    .status
      %p 账户方案变更
    =form_for :consumption, url: confirm_plan_account_index_path do |f|
      .ppb
        %p.sb
          %strong 请您确认你想要升级您的ShopQi账户:
        %p.sb
          ==您将升级您的账户到 #{raw high_color plan_type.name} 方案，此方案单价为#{raw high_color plan_type.price}元/月，
        %p.sb
          默认支付为12个月,您可以选择支付
        %p.sb
          =f.select :quantity, options_for_select((1..24).map{|c|[c,c]}, 12)
          =hidden_field_tag :code, params[:code]
          个月
        %p.sb
          方案将在您支付成功后生效！点确认则进入确认付款页面!
      .actions
        =f.submit '确认',class: 'btn'
        =w('or')
        =link_to w('cancel'),account_index_path
