body {
  margin: 0;
  padding: 20px 0;
  text-align: center;
  font: 1em/1.4em "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #000;
  background: #ddd;
}

h1, h2, h3, h4, h5, h6 {
	color: #333;
}

h1 {
  font-size: 180%;
  color: black;
  margin-bottom: 2px;
}

h2 {
  font-size: 175%;
  margin-bottom: 5px;
  border-bottom: 1px solid #eee;
  padding: 0 0 2px 0;
  color: #aaa;
  text-align: center;
  font-weight: normal;
}

h1 span.subtitle {
  font-size: 50%;
  color: #888;
}


h3 {
  font-size: 110%;
	margin-bottom: 2px;
	margin-top: 5px;
  color: #741C1C;
  }

h3.divider {
  border-bottom: 1px solid #999;
}

img { border: 0; }


a {
  color: #000;
}

a:hover {
  color: #741C1C;
  text-decoration: underline;
}

#welcome {margin:0 0 10px 0; padding:1px 10px;}

#container {
  width: 776px;
  margin: 20px auto 0px auto;
  text-align: left;
  font-size: 80%;
}

#container.slim {
  width: 430px;
}

#main {
  width: 776px;
  background-color: #fff;
  padding: 0 13px;
  background: url('/assets/checkout/checkout-bg.gif') bottom left repeat-y;
}

#container.slim #main {
  width: 413px;
  padding: 0 15px;
  background: url('/assets/checkout/checkout-bg-slim.gif') bottom left repeat-y;
}

#content {
  padding: 10px;
}

#header {
  width: 792px;
  padding: 8px 5px;
  background: url('/assets/checkout/checkout-bg-top.gif') bottom left no-repeat;
}

#container.slim #header {
  width: 430px;
  background: url('/assets/checkout/checkout-bg-top-slim.gif') bottom left no-repeat;
}

#header h1 {
  padding-left: 10px;
}

#info-bar {
  background: #FFFBE5;
  border-bottom: 1px solid #ccc;
  color: #666;
  text-align: center;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 80%;
  width: 100%;
}

#info-bar * { vertical-align: middle; }

#footer {
  width: 792px;
  padding: 8px 5px;
  margin: 0 auto;
  background: url('/assets/checkout/checkout-bg-bottom.gif') top center no-repeat;
  text-align: center;
  color: #888;
  font-size: 80%;
}

#container.slim #footer {
  width: 430px;
  background: url('/assets/checkout/checkout-bg-bottom-slim.gif') top center no-repeat;
}

/*
 *=OVERVIEW
 */

#overview {
  background: #FFFBE5 url('/assets/checkout/checkout-overview-bg.gif') top left repeat-x;
  border-bottom: 1px solid #EFEBA5;
  padding: 10px;
  margin: 0;
}

#overview h2 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  color: #333;
  text-align: left;
}

#overview a {
  color: #c60;
}

#products {
  float: left;
  width: 480px;
  border-right: 1px solid #FED600;
}

#done {
  float: left;
  width: 100%;
}

#wallet {
  margin-left: 481px;
  padding: 5px 10px 10px 10px;
  text-align: center;
  width: 250px;
}

div.wallet-highlight { background: #ffff99 }

#cost, #order-num {
  font: 400% Georgia, Times, "Times New Roman", serif;
  color: #6FB305;
  text-shadow: #fff 2px 2px;
  display: block;
}

#cost {
  margin-bottom: 10px;
}

#order-num {
  font-size: 120%;
}

#success {
  color: #090;
  background: #cfc;
  padding: 5px;
  margin: 20px 0;
  text-align: center;
  border: 1px solid #090;
  font-weight: bold;
}

#steps {
  margin-top: 10px;
  font: 200% Georgia, Times, "Times New Roman", serif;
  font-style: italic;
}

#thumbs {
  margin: 20px 0 0 0;
  padding: 0;
  width: 100%;
}

#thumbs div {
  width: 50px;
  height: 50px;
  padding: 1px;
  margin: 0 4px 0 0;
  border: 1px solid #FFEB80;
  float: left;
  text-align: center;
}

#thumbs td {
  font-size: 80%;
  padding-bottom: 8px;
  line-height: 140%;
  vertical-align: middle;
  width: 50%;
}

/* overwrite for Thank You page */
.slim #thumbs td {
  width: 25%;
}

#thumbs img {
  background: transparent;
}

#thumbs h3 {
  margin: 0;
  padding: 0;
  font-size: 11px;
}

#thumbs h3 span {
  color: #c96;
  font-size: 90%;
}

#thumbs span {
  color: #c93;
  font-size: 10px;
}

#overview .hint {
  color: #c96;
  font-style: italic;
  font-size: 80%;
}

/*
 *=SELECT CHECKOUT PREF
 */

#payment-type {
  margin: 0;
  padding-top: 10px;
  list-style: none;
  text-align: center;
}

#payment-type li {
  margin: 10px;
  padding: 10px;
  border: 1px solid #fff;
}

#payment-type li:hover {
  border: 1px solid #ccc;

}

li.text-payment {
  margin: 10px !important;
  padding: 0px !important;
}

.center {
  width: 660px;
  margin: 0 auto;
}


/*
 *=EMAIL
 */

#addresses {
  background: #f7f7f7;
  height: auto;
}

#email {
  line-height: 100%;
  background: #f7f7f7;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
}

#email label {
  display: block;
  margin-bottom: 15px;
  font-size: 130%;
}

#email input {
  font-size: 150%;
}

#shipping-same {
}

#shipping-same label {
  display: block;
  font-size: 100%;
}

.address-notification {
  background: #ffefeb;
  border: 1px solid #f96;
  color: #000;
  text-align: center;
  padding: 5px;
}


/* PAYPAL EXPRESS */

#gateway-logos {
  text-align: center;
  padding: 8px 5px 3px 5px;
  margin: 10px auto 20px auto;
}

#gateway-logos img {
	padding: 5px 10px;
}

/*
 *=PAYMENT/CREDITCARDS
 */

#pay-with {
  text-align: center;
}

#pay-with h3 {
  font-size: 200%;
  color: #000;
  margin: 40px 0 20px 0;
}

#payment {
  position: relative;
}

#or {
  font: bold 200% "Lucida Grande", Helvetica, Arial, sans-serif;
  position: absolute;
  left: 46%;
  top: 50%;
  background: #ffefeb;
  color: #000;
  padding: 10px;
  background: #ccc;
  text-align: center;
}

#payment-methods {
  list-style: none;
  margin: 0;
  padding: 0;
}

#payment-methods li {
  padding: 6px;
  margin-bottom: 1px;
}

#payment-methods li * {
	vertical-align: middle;
}

#payment-methods input {
  margin-right: 5px;
}

#credit-card-valid {
	vertical-align: bottom;
}

img.credit-card {
	margin-left: 3px;
}

.inactive {
	-moz-opacity: 0.25;
	opacity:.25;
	filter: alpha(opacity=25);
}

/*
 *=ERRORS
 */

.field-with-errors {
  background-color: #FFFBE5;
  border: 1px solid #FED600;
  padding: 3px 5px;
  line-height: 140%;
}

.field-with-errors input {
  border: 1px solid #B30905;
}

.field-with-errors .error-message {
  color: #B30905;
  font-weight: bold;
}

.severe-error {
  margin: 35px 5px;
}

/*
 *=GROUPED BOXES
 */

.gleft {
  float: left;
  width: 49%;
}

.gright {
  margin-left: 49%;
  padding-left: 10px;
  width: 47%;
}


/*
 *=MISC
 */

form {
 padding: 0;
 margin: 0;
}

label {
 font-weight: bold;
 font-size: 100%;
}

input[type=text], input[type=password], textarea {
 border: 1px solid #ccc;
 border-bottom: 1px solid #e7e7e7;
 border-right: 1px solid #e7e7e7;
 padding: 2px;
}

textarea {
 font-family: Monaco, "Courier New", Courier, monospace;
 font-size: 1.0em;
 overflow: auto;
 width: 100%;
}

input[type="image"] {
 border: none;
}

#buttons {
border-top: 2px solid #eee;
border-bottom: 2px solid #ccc;
	padding: 10px 10px;
	background: #ddd;
	margin: 0;
}

#buttons input {
 font-weight: bold;
 padding: 2px 5px;
}


dl, dt, dd {
 border: 0;
 margin: 0;
 padding: 0;
}

dl {
 margin: 5px 0 10px 0;
}

dd {
 margin: 5px 0;
}

dt {
 margin-top: 12px;
 font-weight: bold;
}

dl .hint {
 font-size: 95%;
 color: #888;
 font-weight: normal;
}

dt.top {
 margin-top: 0;
}

.group {
 background: #f7f7f7;
 border: 1px solid #ddd;
 padding: 10px;
 margin: 20px 5px;
}

.pgroup {
 margin-bottom: 20px;
 padding: 5px;
}

.pgroup h3 {
}

.pgroup dl {
 background: #f1f1f1;
 padding: 5px;
}

input.btn {
margin: 0 0 0 8px;
}

textarea.short {
 height: 400px;

}

input.digit-2 {
 width: 25px;
}

textarea.tall {
 height: 700px;

}

.ta-success {
 padding: 5px;
	background: #fff;
	border: 1px solid #eee;
}

.big {
 font-size: 150%;
}

input.long {
 width: 350px;
}

input.short {
 width: 70px;
}

.small {
 font-size: 85%;
}

label.inline {
 font-weight: normal;
 font-size: 100%;
}

.pageform h4 {
 margin-top: 30px;
}

.soft {
 font-weight: normal;
 margin: 10px 0;
}

.soft label { font-weight: normal; font-size: 85%;}
.medium label { font-size: 85%; color: #444;}
.medium p { margin-left: 17px;}

ul.radios li {
 padding: 5px;
 margin: 5px;
}

ul.edit-options {
  list-style: none;
  padding: 10px 10px;
}

ul.cart-items {
  list-style: square;
  padding: 3px 20px;
}

ul.cart-items > li {
  padding: 8px 0;
}


ul.edit-options li label {
  font-weight: normal;
}

fieldset {
 border: 1px solid #ccc;
 padding: 5px;
 padding-left: 10px;
 padding-top: 0;
 margin: 15px 5px;
}

fieldset#switchsolo {
 border: 1px solid #ccc;
 padding: 15px 10px;
 margin: 15px 0px;
 line-height: 1.6em;
}

legend {
 font-size: 90%;
 font-weight: bold;
 padding: 0 5px;
 margin-left: 10px;
}

fieldset p {
 margin: 5px;
}

span.hint a {
  color: #888;
  font-size: 95%;
}

/* Variant form sizing */
td.label { width: 150px; vertical-align: middle; }
td.lprice, td.sprice {width: 70px;}
td.weight { width: 40px; }
th.trash { width: 20px;}
th.sku {width: 30px;}

/* Bottom tab for more-less textareas */
a.bottab {
 background: #fff;
 border: 1px solid #eee;
 border-top: 0;
 padding: 4px 10px 4px 25px;
}

a.more { background: #fff url(/assets/admin/icons/textarea-more.gif) 2% 50% no-repeat;}
a.less { background: #fff url(/assets/admin/icons/textarea-less.gif) 2% 50% no-repeat;}



.clearfix:after {
   content: ".";
   display: block;
   height: 0;
   clear: both;
   visibility: hidden;
}

.clearfix {display: inline-table;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

form { line-height: normal; padding: 0; margin: 0;}
input { padding: 0; margin: 0;}

.group {
  margin: 20px 0;
}

.group h3, .pgroup h3 {
  color: #000;
  font-size: 130%;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.form {
}

.form td {
  padding: 5px;
}

.form ul.inline {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.form ul.inline li {
  display: block;
  float: left;
  margin-right: 15px;
}

.form ul.inline li label {
  display: block;
}

.form tr td {
}

.form td.lbl {
  width: 80px;
}

.form td input {
  width: 230px;
}

.form td input.short {
  width: 160px;
}

.form td textarea {
  width: 230px;
}

table td {
  vertical-align: top;
}

.highlight {
  background: #FFFFDD;
}

/* customer accounts */
#customer_login.required {padding:20px;}
.sign-in {float:left; margin-right:15px;}
.forgot-password {float:left;}
#reset-email {margin-bottom:10px; font-size:14px;}
.multiple_address_selection td {padding:10px 5px 20px 5px;}
table.form.full {margin-bottom:10px;}
.form.full td.lbl {width:110px;}
.form.full td input {width:200px;}

.sign-in-area {margin:15px 0;}
.sign-in-area input[type=submit] {float:right;}

.group.st {margin-top:0px;}
h4.active-customer {font-size:18px; font-weight:400; color:#444; margin:10px 0;}
span.sign-in-message {font-size:13px; margin-left:4px;}

.flash {color:#000; padding:5px 10px; margin:0 0 15px 0;}
.flash.notice {background:#FFFBE5; border:1px solid #DFDBC5;}
.flash.error {background: #ffefeb; border: 1px solid #f96;}
