@media only screen and (max-width: 480px) {
  h2 {font-size:24px;}

  /* global */
  #wrapper {width:320px; overflow-x:hidden;}
  #wrapper * {max-width:320px;}

  .content {padding:0 10px; width:300px;}
  .content.subpage {margin:0; padding:15px 10px 0 10px; border:none;}
  .content .col-9 {max-width:300px !important; background:none !important;}

  #masthead {height:auto;}
  #masthead .content {width:320px !important; padding:0;}
  #masthead a.logo-shopify, #masthead a.logo-shopify:hover {position:static; background:url('../assets/logos/logo-shopify.gif?1289327933') repeat scroll 3px 0 transparent;}

  /* main nav */
  ul#nav-primary {float:left; display:block; width:320px; padding:0; background:#444; border-top:1px solid #4f4f4f;
                                                                background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(51,51,51)),color-stop(1, rgb(68,68,68)));
                                                                background-image: -moz-linear-gradient(center bottom,rgb(51,51,51) 0%,rgb(68,68,68) 100%);}
  ul#nav-primary li {float:none; display:block; padding:0;}
  ul#nav-primary li.sub-nav {display:none !important;}
  ul#nav-primary > li > a {float:left; display:block; padding:8px 10px; font-size:12px; height:26px; line-height:26px;}
  ul#nav-primary li.current a {border:none;}


  #header.frontpage .createanonlinestore {background:none; height:160px; background: url('../assets/banners/createanonlinestore-mobile.jpg?1304435933') no-repeat;}
  #header.frontpage .createanonlinestore h1 {display:none;}
  #header.frontpage .blue-signup-button {position:fixed; display:block; float:none; text-indent:0px; color:#fff; text-align:center; font-size:15px; font-weight:700;height:24px; line-height:24px; width:100px; margin:0; top:213px !important; left:10px; background-color:#1796dc; padding:4px 12px; border:1px solid #2681b5;
                                                                                border-radius:18px;
                                                                                -moz-border-radius:18px;
                                                                                -webkit-border-radius:18px;
                                                                                box-shadow:2px 2px 3px rgba(0,0,0,0.1), 0px 1px 0px rgba(255,255,255,0.3) inset;
                                                                                -moz-box-shadow:2px 2px 3px rgba(0,0,0,0.1), 0px 1px 0px rgba(255,255,255,0.3) inset;
                                                                                -webkit-box-shadow:2px 2px 3px rgba(0,0,0,0.1), 0px 1px 0px rgba(255,255,255,0.3) inset;
                                                                                text-shadow:1px 1px 0px rgba(0,0,0,0.3);
                                                                                background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgba(255,255,255,0.0)),color-stop(1, rgba(255,255,255,0.3)));
                                                                                background-image: -moz-linear-gradient(center bottom,rgba(255,255,255,0.0) 0%,rgba(255,255,255,0.3) 100%);}

  #header.frontpage #contest-2011-triangle {width:81px; height:80px; background:url('../assets/contest/brochure-triangle-mobile.png?1304435933') no-repeat scroll 0 0 transparent;}

  .col-6 {width:320px !important;}
  .col-4-5, .col-8 {width:300px !important; margin:0;}

  div.no-signup-page, #contact-us a {display:none;}

  .page-subheading {margin-bottom:0 !important;}

  #container.frontpage {padding-top:0; border-top:none;}
  #bottom-signup {margin-top:0;}

  #footer {height:auto; width:320px;}
  #footer * {max-width:320px !important;}
  #footer #copyright {margin:20px 0 0 0; padding:0 10px;}
  #footer #copyright p:last-child {margin-bottom:0; padding-bottom:10px;}
  #footer-wrapper {height:auto; width:320px;}
  #footer-wrapper .col-3 {float:left; width:140px; margin:0 5px;}

  /* homepage */
  #feature-bar {height:115px;}
  #feature-bar .col-6.last {display:none;}
  #feature-bar .quote {width:280px !important;}
  #feature-bar .quote p {text-align:left; margin-left:65px;}
  #feature-bar .quote p:last-child {margin-bottom:0;}
  #feature-bar .quote img {margin:13px 20px 13px 0 !important;}

  .tour-video-wrapper {padding:0; margin:0; width:320px; position:relative; left:-10px; border:none; border-top:1px solid #d6d6d6; border-bottom:1px solid #d6d6d6;
                                                                                        box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none;}

  .tour-video-wrapper embed, .tour-video-wrapper object {width:320px !important;}
  .tour-video-wrapper em {margin:10px; padding-bottom:10px;}

  .frontpage-features {padding-top:0;}
  .frontpage-features ul {width:320px !important; position:relative; left:-10px;}
  .frontpage-features li {float:none; margin:0; padding:10px 20px 10px 10px; width:290px; background:url('../assets/icons/arrow.png?1304435933') no-repeat scroll 305px 50% transparent; border-bottom:1px solid #e0e0e0; border-top:1px solid #fff;}
  .frontpage-features li:last-child {margin-bottom:0; border-bottom:0;}
  .frontpage-features li h4 {color:#444; font-weight:700; font-family:Helvetica, Arial, sans-serif;}

  #clients {padding-top:10px;}
  #clients .col-6 {width:300px !important;}
  #clients h3 {color:#111; font-weight:700; font-family:Helvetica, Arial, sans-serif;}
  #clients .quote {width:300px; position:relative; left:-10px; margin:25px 0 !important; padding:25px 10px !important; border-top:1px solid #f0f0f0; border-bottom:1px solid #f0f0f0;}
  #clients .quote p:last-child {margin-bottom:0;}
  #clients .content .col-6:last-child h3 {margin-bottom:20px;}

  /* feature tour */
  #banner {padding:10px 0 20px;}
  #banner h1 {font-size:32px;}

  .quote {padding:10px !important; }
  .quote img {margin:20px 20px 20px 0;}

  #sidebar-features {float:none; background:none repeat scroll 0 0 #f0f0f0; margin:0; padding:6px 0; height:auto; width:320px; position:relative; top:-15px; left:-10px; border-top:1px solid #fff; border-bottom:1px solid #e0e0e0;}
  #sidebar-features ul {padding:0;}
  #sidebar-features ul.list-secondary-features:after{content:".";display:block;height:0;clear:both;visibility:hidden; }
  #sidebar-features ul li {display:block; float:left; padding:0; margin:0; line-height:18px;}
  #sidebar-features ul li.current {padding:0; margin:0; background:none; line-height:18px;}
  #sidebar-features ul li.current a {font-weight:700;}
  #sidebar-features ul li a {background:none !important; padding:6px 10px;}

  #sidebar-features ul.list-secondary-features {margin:0; padding:0; border:none;}
  #sidebar-features ul.list-secondary-features li {margin:0;}
  #sidebar-features ul.list-secondary-features li a {margin:0; background:none !important; padding:6px 10px; font-size:12px;}
  #sidebar-features ul.list-secondary-features li a.current {font-weight:700;}

  div.feature-heading {padding-top:0 !important;}
  .feature-subheading {font-size:14px; margin:-18px 0 20px; padding:0 0 20px; border-bottom:1px solid #f0f0f0;}

  .col-9.screenshot {background:none !important; height:auto !important;}
  .running-your-store .col-9.screenshot {display:none;}
  .running-your-store hr {display:none;}

  img.screenshot {display:none;}
  .icon-right, .right.icon {float:left; margin:0 10px 10px 0;}
  .col-3 {width:300px;}
  .col-6.poloroid {display:none;}

  div.feature-list:last-child {border-bottom:none;}

  /* next feature btn */
  .next-feature a.signup {float:none; margin:0 auto; display:block;}
  .next-feature .next-buttons {margin-bottom:0; padding:20px 0;}
  .next-feature .next-step {background-color:#ccc; color:#fff; margin:25px 0 5px 0; padding:10px 16px; border:1px solid #999999; font-weight:700; text-align:right;
                              text-shadow:1px 1px 0px rgba(0,0,0,0.2);
                              border-radius:18px; -webkit-border-radius:18px; -moz-border-radius:18px;
                              box-shadow:0px 1px 0px rgba(255,255,255,0.2) inset; -webkit-box-shadow:0px 1px 0px rgba(255,255,255,0.2) inset; -moz-box-shadow:0px 1px 0px rgba(255,255,255,0.2) inset;
                              background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(173,173,173)),color-stop(1, rgb(204,204,204)));
                              background-image: -moz-linear-gradient(center bottom,rgb(173,173,173) 0%,rgb(204,204,204) 100%);
                            }

  .next-feature .next-step:hover { background: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(34,108,228)),color-stop(0.99, rgb(79,151,246)),color-stop(1, rgb(124,180,248)));
                             background: -moz-linear-gradient(center bottom,rgb(34,108,228) 0%,rgb(79,151,246) 99%,rgb(124,180,248) 100%);
                             text-shadow:1px 1px 0px rgba(0,0,0,0.2) !important;
                           }

  .poloroidcopy {margin:0 0 20px 0;}
  .poloroidcopy p:last-child {margin-bottom:0; }
  .banner-image {display:none !important;}

  /* introduction */
  .introduction .tour-video-wrapper {margin-bottom:20px;}
  .feature-box {padding:20px;}
  .feature-box ul {border:none;}
  .feature-box ul:after {border:none;}
  .feature-box ul li {width:200px; margin:10px 0;}
  .essential-features {margin-bottom:10px;}
  .essential-features li {width:300px; margin:0 0 20px 0;}
  .essential-features li img {float:left; width:100px; padding:0; margin:0 15px 0 0; background:none;}

  /* running your store */
  .organizing-products, .fraud-detection, .x-marks-the-spot, .content-management {margin-bottom:0px !important;}
  ul.screenshot-featurelist li {width:300px;}

  /* marketing */
  .statistics {margin:0 !important;}
  .statistics p br {display:none;}
  .seo-image {display:none;}
  .discount-codes {margin-bottom:0 !important;}

  /* customization */
  .designerlisting {padding-top:35px;}
  .preset-example {padding:15px 0; margin:0 0 20px 0;}
  .preset-example li {padding:10px 25px; border:none; width:248px !important; height:auto;}
  .preset-example li strong {color:#111; font-weight:700;}
  .preset-example li img {position:static; display:none; margin-top:10px;}
  ul.designer-list li {width:110px;}
  ul.designer-list li:nth-child(odd) {clear:both;}
  ul.designer-list img {width:110px;}

  /* hosting and security */
  .hosting-and-security {margin:0 !important;}
  .hosting-and-security > div {float:none; margin:0 !important; padding:0; width:300px !important;}
  .content-delivery {margin:0 !important; padding:0 !important; height:auto !important;}
  .content-delivery > div {margin:0 !important; padding:0 !important; width:300px !important;}
  .rackspace {width:300px !important;}

  /* app store */
  .add-features {width:300px !important;}

  /* for designers */
  .quote.for-designers {margin:0px !important; width:280px;}
  .shopify-textmate {padding:25px 0 !important; margin:0 0 10px 0; border-top:1px solid #D9D9D9; border-bottom:1px solid #D9D9D9;}
  .shopify-textmate p {margin:0;}
  img.feature-image {width:100px; height:82px; float:left; margin:0 15px 20px 0;}

  /* feature list */
  .feature-list ul {padding:0; width:300px;}
  .feature-list ul li {width:280px;}

  /* examples */
  #example-browser > div {width:300px !important;}
  #example-browser > div img {max-width:300px !important;}
  #example-browser .more-shopify-stores {display:none;}
  #examples-box {height:auto; background:none; margin:20px 0; padding:0;}
  #examples-box > * {max-width:300px !important;}
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
  #wrapper {width:480px; overflow-x:hidden;}
  #wrapper * {max-width:480px;}
  .content {padding:0 10px; width:460px;}
  #masthead .content {width:480px !important; padding:0; height:auto;}
  #footer, ul#nav-primary, #sidebar-features, .col-6, .tour-video-wrapper, #footer-wrapper {width:480px;}
  #feature-bar .quote {width:440px !important;}

  ul#nav-primary > li > a {padding:8px 13px;}

  .content .col-9 {max-width:460px !important;}
  #clients .col-6, #clients .quote {width:460px !important;}

  .col-3, .col-4 {width:460px;}
  .col-4-5, .col-8 {width:460px !important;}

  .frontpage-features li {background:url('../assets/icons/arrow.png?1304435933') no-repeat scroll 465px 50% transparent;}

  .frontpage-features li {width:460px;}
  ul.designer-list li {margin:0 22px 18px 0;}
  ul.designer-list li:nth-child(odd) {clear:none;}
  ul.designer-list li:nth-child(3n+1) {clear:both;}
  .tour-video-wrapper {text-align:center; width:480px; padding-top:20px;}
  .tour-video-wrapper embed, .tour-video-wrapper object {width:480px !important;}

  #footer * {max-width:480px !important;}
  #footer-wrapper .col-3 {width:220px;}

  /* introduction */
  .feature-box ul li {width:360px;}
  .essential-features li {width:460px;}

  /* running your store */
  ul.screenshot-featurelist li {width:460px;}

  /* hosting and security */
  .hosting-and-security > div, .content-delivery > div, .rackspace {width:460px !important;}

  /* app store */
  .add-features {width:460px !important;}

  /* for designers */
  .quote.for-designers {width:440px;}

  /* feature list */
  .feature-list ul {width:460px;}
  .feature-list ul li {width:440px;}

  /* examples */
  #example-browser > div {width:460px !important;}
  #example-browser > div img {max-width:460px !important;}
  #examples-box > * {max-width:460px !important;}
}

@media only screen and (min-width: 481px) and (max-width: 1024px) { /* set wrapper width for iPad / other tablets */
  html,body {width:1024px; margin:0px; padding:0px; }
  #wrapper {width:1024px; overflow-x:hidden;}
}
