%tr(id="standard-rate-#{standard_rate.id}")
  %td.weight-based
    %span.rate-summary
      %a{:href => "/admin/weight_based_shipping_rates/5091502"} International Shipping
  %td 0.0lbs - 100.0lbs
  %td ¥25.00 CNY
  %td.r
    %a.del{"data-confirm" => "Do you really want to delete this shipping rate?", "data-method" => "delete", :href => "https://medhurst-shields-and-kunde7896.myshopify.com/admin/weight_based_shipping_rates/5091502", :rel => "nofollow", :title => "Delete this"}
      %img{:alt => "Trash", :src => "https://cdn.shopify.com/s/images/admin/icons/trash.gif?1ebf2a493510fe03d53efe0ba098f820722935a2"}/
