%h1==#{shop.name} 准备启用
#what-is-next.clearfix
  =image_tag "admin/icons/progressbar/#{@task.name}.jpg"
  #next-step-description
    %p
      启用您的商店，将删除访问商店的密码保护，后台管理首页将显示商店的统计信息。
    %p
      %small 您仍然可以前往［设置］－［一般设置］，为访问商店设置密码保护。
    .done-button.clearfix
      =form_tag launch_path, method: :post, class: :button_to do
        =submit_tag '启用我的商店', id: :launch_btn
