%h1
  ==#{shop.name} 已经完成
  %strong 72%
  只剩下2个步骤了!
#what-is-next.clearfix
  =image_tag "admin/icons/progressbar/#{@task.name}.jpg"
  #next-step-description
    %h2
      %strong 下一步骤:
      物流配送
    %p
      按价格或者重量，设置
      %a(data-guide-position="left" data-guide-target="#shipping a" data-guide-text="点击此处设置您的运费" href="##{@task.name}" class="show_#{@task.name}_guide")
        %em.icon
        %strong.triangle
        您的运费
  / #name
/ #what-is-next
