%h1
  ==#{shop.name} 已经完成
  %strong 58%
  只剩下3个步骤了!
#what-is-next.clearfix
  =image_tag "admin/icons/progressbar/#{@task.name}.jpg"
  #next-step-description
    %h2
      %strong 下一步骤:
      税率
    %p
      确保您在销售地区按
      %a(data-guide-position="left" data-guide-target="#regions a" data-guide-text="点击此处设置您的税率" href="##{@task.name}" class="show_#{@task.name}_guide")
        %em.icon
        %strong.triangle
        正确的税率
      计算商品价格，如果您所销售的商品价格已经包含各种税率，则不需要设置
  / #name
/ #what-is-next
