{% comment %}NOTE: If there are specific nonexistent URLs which your visitors are likely to request on a regular basis (maybe due to old links from elsewhere on the web), you can set up URL redirection by clicking on your Navigation tab and following the link in the sidebar.{% endcomment %}

<div id="error-page">
  <h1>此页面不存在</h1>
    <p>试试搜索其他商品:</p>
    <form action="{{ shop.url }}/search" method="get" accept-charset="utf-8">
      <input type="text" name="q" value="{% if handle %}{{ handle }}{% else %}查询...{% endif %}" onfocus="if(this.value == '查询...') { this.value = '' }" />
      <input type="submit" value="查询"/>
    </form>
</div> <!-- error-page -->

