%p
  您好,#{@resource.email}!
%p 您的密码重设要求已经得到验证。请点击以下链接输入您新的密码：
%p (pleae click on the following link to reset your password:)
%p= link_to '修改密码', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p 如果您不需要此请求，请忽略它
%p 如果您不点击上面的链接修改密码，您的密码不会被更改
%p (这是一封自动产生的email，请勿回复。)
