.span16
  %header.page-header
    %h2 Your authorized applications
  %table.zebra-striped
    %thead
      %tr
        %th Application
        %th Authorized at
        %th
        %th
    %tbody
      - @applications.each do |application|
        %tr
          %td= application.name
          %td= application.created_at
          %td= link_to 'Revoke', authorized_application_path(application), method: :delete, class: 'btn danger', data: { confirm: 'Are you sure?' }
