-use_javascripts 'backbone/controllers/emails'
%h2#title 邮件 &amp; 提醒
#action-links
  %ul
=render partial:"shared/noscript"
=render partial:"shared/upgrade_ie"
.pgroup
  %h3 编辑邮件模板
  %p.note 这些邮件会自动发送给您或者客户,您可以通过编辑以下的邮件模板
  %br/
  %ul#email-templates.clearfix
    -KeyValues::Mail::Type.all.each do |type|
      %li
        %a{:href => edit_email_path(emails.find_by_mail_type(type.code))}
          %strong=type.name
          %em=type.des
/ pgroup
.pgroup
  %h3 订单提醒
  %p.note.sb
    当有顾客下了新的订单时，您可以设置提醒的邮件地址。
  #order-notification-list
    %table#order-notification-table.data{:cellpadding => "0", :cellspacing => "0"}
      %tr
        %th{:colspan => "4", :style => "padding-left: 10px"} 当有顾客下单时：
      -subscribes.each do |s|
        =render partial: 'subscription',locals: {s: s}
      %tr#add-subscription
        %td.action-link{:colspan => "4"}
          %p#add-notify
            %span.plus +
            %a{:style => "display:inline"} 新增邮件提醒
      / end add-subscription
  / end order-notification-list
  %p#add-subscription-btn(style='display:none')
    %input.btn(onclick="$('#add-subscription-details').toggle(); $('#add-subscription-btn').toggle();$('#email-detail').show();" type="button" value="增加新的订单提醒")
  #add-subscription-details{:style => "display:none"}
    =form_for :subscribe, url: notifications_subscribe_path, remote: true do |f|
      %dl
        %dt 增加一个新的订单提醒
        %dd.sb
          %label{:for => "subscription-type"} 提  醒
          %select#subscription-type{:name => "subscribe"}
            %optgroup{:label => "提醒方式..."}
              %option{:value => "email"} 邮件地址&hellip;
            %optgroup{:label => "或者发送邮件给本店用户"}
              =options_for_select users.map{|u|[u.name,u.id]}
        %dd#email-detail.details.st.sb{:style => "display:none"}
          %label{:for => "address"} 邮件地址
          %input#address{:name => "address", :size => "30", :type => "text", :value => ""}/
        %dd#cellphone-detail.details.sb{:style => "display:none"}
          %p.sb
            %label{:for => "number"} 电话号码
            %input#number{:name => "number", :size => "15", :type => "text", :value => ""}/
          %p.note.st.sb
        %dd.sst.btn-divider.cl
          %input.btn{:name => "commit", :type => "submit", :value =>"保存" }
          =w('or')
          %a#cancel(href="#")=w('cancel')

:javascript
  new App.Controllers.Emails()
