if( $('.order-subscription').size() <= 1){
$('#order-notification-list').hide();
$('#add-subscription-details').hide();
$('#add-subscription-btn').show();
}

$("#subscription-#{subscribe.id}").remove();
