%script(id="show-user-permission" type="text/x-handlebars-template")
  %td(colspan="5")
    %div(id="edit_invited_user_{{id}}" class="edit_invited_user table-slider-wrapper table-slider-ani-down")
      %form(id="edit_invited_user_1555092" class="permission_form" action="#")
        %div(class="table-slider-content")
          %div(class="clearfix")
            %div(clas="col-1")
              %img(class="gravatar" height= "55" src= "https://secure.gravatar.com/avatar.php?gravatar_id=1283cdb70fcac7f2c0516a45aa84b4d6&amp;size=55&amp;default=https%3A%2F%2Fdurgan-frami9762.myshopify.com/images/admin/icons/customer.gif" title= "ee ee" width= "55")
            %div(class="col-9 last")
              %dl(class="clearfix")
                %dt 权限:
                %dd
                  %ul
                    %li
                      %input(checked="checked" name="user[permissions][]" type="radio" value= "full" id="mark_all")
                      %label {{ name }} 有所有权限
                    %li
                      %input(name= "user[permissions][]" type= "radio" value="limited" id="limited_access")
                      %label  选择权限
                  %div(class="permissions-table fadein")
                    %table
                      %tbody
                        %tr
                          -resource_types.each do |resource|
                            %th==#{resource.name}
                        -[0,1,2,3].each do |index|
                          %tr
                            -[1,2,3,4].each do |i|
                              -resource  = resource_hashs[i] ? resource_hashs[i][index] : nil
                              -if resource
                                -checked = resource.id.in?(current_user.permissions.map(&:resource_id))
                                %td
                                  -if checked
                                    %input(checked=true name= "user[permissions][]" type= "checkbox" value= "#{resource.code}")
                                  -else
                                    %input(checked=false name= "user[permissions][]" type= "checkbox" value= "#{resource.code}")
                                  %label==#{resource.name}
        %div(class="table-slider-actions")
          %input(name="commit" type="submit" value= "保存" class="btn")
          或者
          %a(href= "#" class='action cancel') 取消
