%script(id="show-user-list" type="text/x-handlebars-template")
  %td
    %a(href="#users/{{id}}" class="set_permissions" ) {{ name }}
    {{#if is_self}}
    %a(href="/admin/users/{{ id }}/edit") 修改
    {{/if }}
  %td {{ email }}
  %td
    #edit_regular_user_status
      {{#unless radio_checked }}
      受限制的
      {{/unless }}
  %td.r
    {{#if can_delete}}
    %a.action.destroy(href='#')=image_tag('admin/icons/trash.gif')
    {{/if}}
