%h2#title==修改#{blog.title}
#action-links
  %ul
=render partial:"shared/noscript"
=render partial:"shared/upgrade_ie"
#new-blog-form.group
  =form_for blog,html:{class:"edit_blog"} do |f|
    .group-fields
      %dl
        %dt.nst=f.label :title
        %dd=f.text_field :title
        %dt#edit-handle-label{:style => "font-size: 85%"} 固定链接
        %dd#edit-handle.ssb{:style => ""}
          %span.note==#{show_shop_url}/blogs/
          =f.text_field :handle,style: 'width: 175px'
          %span.note
            (
            %a(href="#{wiki_url_with_port}/Handle" target="_blank")> 这是什么?
            )
      %dt 评论
      %dd.choice
        =f.select :commentable,options_for_select(commentable_types,blog.commentable)
    .group-actions
      %input.btn{:name => "commit", :type => "submit", :value => "保存"}/
      或者
      =link_to '返回', pages_path
/ end div.main

:javascript
  task_name = 'add_content';
