%h2#title 新 增 博 客
#action-links
  %ul
    %li.no-icon
      %a(href=pages_path) 取消
/ Required arguments: blog, method
#new-blog-form.group{:style => "padding:10px;"}
  =form_for blog,html:{id:"new_blog",class:"new_blog"} do |f|
    =message_block on:[:blog]
    %dl
      %dt.nst
        =f.label :title
      %dd=f.text_field :title, class:[:big,:sb]
      %dt 评论
      %dd.choice
        %select#blog_commentable{:name => "blog[commentable]"}
          %option{:selected => "selected", :value => "no"} 禁用评论
          %option{:value => "moderate"} 允许评论,需审核
          %option{:value => "yes"} 允许评论,并且自动发布
    %p.btns{:style => "margin:0"}
      %input.btn{:name => "commit", :type => "submit", :value => "新增"}/
      or
      =link_to '返回', pages_path
/ end div.main
/ end div.container

:javascript
  task_name = 'add_content';
