%div
  %h3 准备开始?
  %p.note.st
    ShopQi使得您可以很容易管理商品.
    您可以增加新的商品，为它指定不同的款式。例如：您的商店有一件衬衫，包含几款颜色和尺寸。您可能希望增加标题为XXXL衬衫的款式，在ShopQi中类似这种添加新的
    %em 款式
    之类的操作都非常容易。
  %p.sst
    %a.btn(href="/admin/products/new") 增加商品
    -#
      或者
      %a.btn(href="/admin/product_imports") 从CSV文件中导入商品
