  %tr(class="product row#{cycle(:odd, :even)}")
    %td(style="padding-right: 5px; vertical-align: middle;")
      %input#checkbox-38663892.selector(name="products[]" type="checkbox" value="38663892")/
    %td.list-image(style="text-align: center ! important;")
      %label(for="checkbox-38663892")=image_tag 'other/no-image-thumb.gif'
    %td(style="padding-left: 3px; vertical-align: middle;")
      %p=link_to product.title, product_path(product), title: "处理:#{product.title}"
      %p.list-product-type=product.product_type
      %p.list-vendor=product.vendor
    %td.list-variants
      .expand-collapse-info.notification.hide
        %p(style="position: absolute; top: 11px")
          %a.expand(href="#")=image_tag 'admin/icons/arrow_right_small.png'
          %a.collapse.hide(href="#")=image_tag 'admin/icons/arrow_down_small.png'
      %ul#variant-list-38663892.variant-list.nobull.product-list-option-1
        -product.variants.each do |variant|
          %li.variant-list-item
            -product.options.each_with_index do |option, index|
              %p.note(style="font-size: 9px; line-height: 11px; margin: 0")=variant.attributes["option#{index+1}"]
            %span.large(style="font-size: 14px;line-height: 25px")=variant.inventory_quantity
            %br/
            .variant-tip.newtip.hide
              .default
                .content=variant.sku ? variant.sku : "没有SKU"
    %td.list-total(style="text-align: center; vertical-align: middle;")
      %span(style="font-size: 18px")=product.variants.map(&:inventory_quantity).sum
