%h2#title 商品管理 
#action-links
  %ul
    %li#add-prod
      =link_to "新增商品",new_product_path
    -#
      %li.csv
        %a(href="#" onclick="$('export-products').toggle(); return false;") Export products
      %li.csv
        %a(href="https://medhurst-shields-and-kunde7896.myshopify.com/admin/product_imports") Import products
=render "shared/noscript"
=render "shared/upgrade_ie"
#export-products.box2.ssb.sst.hide
  %h3 导出您的商品
  %p.sb
    您的商品将导出为一个
    %strong .csv 文件
    (以逗号分隔商品属性).
  %a.btn(href="/admin/products.csv") 导出当前显示的商品
  %a.btn.sl(href="/admin/product_exports.csv") 导出所有商品
#product-filters.box2.ssb.sst
  显示
  %a#vendor-filter-link(href="#" onclick="; return false;") 所有厂商
  和
  %a#type-filter-link(href="#" onclick="; return false;") 所有类型
  的商品
  #vendor-status-select
    %ul.nobull.filter-select.dropdown.hide
      %li
        %strong 厂商
      %li
        %a(href="https://medhurst-shields-and-kunde7896.myshopify.com/admin/products?vendor=Shopify") Shopify
      %li.filter-show-all.current
        %a(href="https://medhurst-shields-and-kunde7896.myshopify.com/admin/products") 显示所有
  #type-status-select
    %ul.nobull.filter-select.dropdown.hide
      %li
        %strong 商品类型
      %li
        %a(href="https://medhurst-shields-and-kunde7896.myshopify.com/admin/products?product_type=Shirts") Shirts
      %li.filter-show-all.current
        %a(href="https://medhurst-shields-and-kunde7896.myshopify.com/admin/products") 显示所有
.view-switcher
  %a.btn.btn-group.btn-left.active(href="/admin/products") 列表视图
  %a.btn.btn-group.btn-right(href="/admin/products/inventory") 清单视图
/ PRODUCTS LIST
.listing.sst
  #products
    %form#batch-form(action="/admin/products/set" method="post")
      / PRODUCTS LIST
      .listing
        %div(style="height: 32px;")
          %table#product-controls(cellpadding="0" cellspacing="0" style="display: none;")
            %tbody
              %tr
                %td(style="text-align: left; vertical-align: middle;")
                  %select#product-select(name="operation" onchange="pl.submitForm(this)")
                    %option(selected="selected" style="color: rgb(136, 136, 136);" value="") Select action…
                    %option.indent(value="publish") Publish
                    %option.indent(value="unpublish") Hide
                    %option.indent(value="destroy") Delete
                    %optgroup(label="Add to collection:")
                      %option(value="add_to_collection-3670472") custom
                      %option(value="add_to_collection-3650022") Frontpage
                %td(style="text-align: center; vertical-align: middle;")
                  #multipage-page(style="display: none")
                    All
                    %b#multipage-page-count ###
                    products on this page are selected.
                    %a#multipage-select-link(href="#" onclick="return false")
                      Select all
                      %b#multipage-page-total ###
                      products
                  #multipage-all(style="display: none")
                    %b#multipage-all-count ###
                    products are selected on all pages.
                    %a#multipage-clear-link(href="#" onclick="return false") Clear selection
                %td(style="text-align: right; vertical-align: middle;")
                  %span#product-count.note(style="margin-bottom: 5px") 0 products selected
        #product-container
          %table#product-table.ssb.data(cellpadding="0" cellspacing="0")
            %tbody
              %tr
                %th.nosort.sortcol(style="width: 16px;")
                  %input#select-all(type="checkbox")/
                %th.nosort.sortcol(style="width: 12px; text-align: center ! important;") &nbsp;
                %th#product-col.sortcol.sortasc(style="padding-left: 3px; min-width: 150px;") Product
                %th.nosort.sortcol Inventory
                %th.sortcol.number(style="text-align: center;") Total
              =render products
#btm-nav.act-screen
  #pagination
