=content_for :javascripts do
  =javascript_include_tag 'controllers/products'

%h2#title 商品管理 
#action-links
  %ul
    %li#add-prod
      =link_to "新增商品",new_product_path
    -#
      %li.csv
        %a(href="#" onclick="$('export-products').toggle(); return false;") Export products
      %li.csv
        %a(href="https://medhurst-shields-and-kunde7896.myshopify.com/admin/product_imports") Import products
=render "shared/noscript"
=render "shared/upgrade_ie"
#export-products.box2.ssb.sst.hide
  %h3 导出您的商品
  %p.sb
    您的商品将导出为一个
    %strong .csv 文件
    (以逗号分隔商品属性).
  %a.btn(href="/admin/products.csv") 导出当前显示的商品
  %a.btn.sl(href="/admin/product_exports.csv") 导出所有商品
#product-filters.box2.ssb.sst
  显示
  %a#vendor-filter-link(href="#")=search_label :vendor_eq, '所有厂商'
  和
  %a#type-filter-link(href="#")=search_label :product_type_eq, "所有类型"
  的商品
  #vendor-status-select
    %ul.nobull.filter-select.dropdown.hide(style='left: 50px')
      %li
        %strong 厂商
      -vendors.each do |vendor|
        %li=link_to vendor.name, search_path(vendor_eq: vendor.name)
      %li.filter-show-all.current=link_to "显示所有", search_path(vendor_eq: nil)
  #type-status-select
    %ul.nobull.filter-select.dropdown.hide(style='left: 120px')
      %li
        %strong 商品类型
      -types.each do |product_type|
        %li=link_to product_type.name, search_path(product_type_eq: product_type.name)
      %li.filter-show-all.current=link_to "显示所有", search_path(producty_type_eq: nil)
.view-switcher
  %a.btn.btn-group.btn-left.active(href="#{products_path}") 列表视图
  %a.btn.btn-group.btn-right(href="#{inventory_products_path}")> 清单视图
/ PRODUCTS LIST
.listing.sst
  #products
    %form#batch-form(action="/admin/products/set" method="post")
      / PRODUCTS LIST
      .listing
        %div(style="height: 32px;")
          %table#product-controls(cellpadding="0" cellspacing="0" style="display: none;")
            %tbody
              %tr
                %td(style="text-align: left; vertical-align: middle;")
                  %select#product-select(name="operation" onchange="pl.submitForm(this)")
                    %option(selected="selected" style="color: rgb(136, 136, 136);" value="") 选择操作…
                    %option.indent(value="publish") 发布
                    %option.indent(value="unpublish") 隐藏
                    %option.indent(value="destroy") 删除
                    %optgroup(label="加入自定义集合:")
                      %option(value="add_to_collection-3670472") custom
                      %option(value="add_to_collection-3650022") Frontpage
                %td(style="text-align: center; vertical-align: middle;")
                  #multipage-page(style="display: none")
                    All
                    %b#multipage-page-count ###
                    products on this page are selected.
                    %a#multipage-select-link(href="#" onclick="return false")
                      Select all
                      %b#multipage-page-total ###
                      products
                  #multipage-all(style="display: none")
                    %b#multipage-all-count ###
                    products are selected on all pages.
                    %a#multipage-clear-link(href="#" onclick="return false") Clear selection
                %td(style="text-align: right; vertical-align: middle;")
                  %span#product-count.note(style="margin-bottom: 5px") 0 products selected
        #product-container
          %table#product-table.ssb.data(cellpadding="0" cellspacing="0")
            %tbody
              %tr
                %th.nosort.sortcol(style="width: 16px;")
                  %input#select-all(type="checkbox")/
                %th.nosort.sortcol(style="width: 12px; text-align: center ! important;") &nbsp;
                %th#product-col.sortcol.sortasc(style="padding-left: 3px; min-width: 150px;") 商品
                %th.nosort.sortcol 库存
                %th.sortcol.number(style="text-align: center;") 总数
              =render products
#btm-nav.act-screen
  #pagination

:javascript
  App.init = function(){
    new App.Controllers.Products();
    Backbone.history.start();
  }
