- use_kindeditor
=content_for :javascripts do
  =javascript_include_tag 'models/product', 'collections/product_options', 'views/product_options/edit', 'views/product_options/index', 'controllers/products'

%h2#title 新增商品
#action-links
  %ul
    %li.no-icon
      =link_to "返回", products_path
=render "shared/noscript"
=render "shared/upgrade_ie"
=form_for product, validate: false, html: { multipart: true } do |f|
  =message_block on: [product]
  %table(cellpadding="0" cellspacing="0" style="width: 100%;")
    %tbody
      %tr
        %td#product-details(colspan="2")
          .section-header 新商品
          %dl.padding
            %dt.top
              =f.label :title
              %br/
              %span.note 例如: 新一代Iphone4
            %dd=f.text_field :title,  style:"float:none;", id: :product_title, class: :big
            %dt.sst=f.label :body_html
          .container=f.text_area :body_html, id: :kindeditor
      %tr
        %td
          =f.fields_for :variants, child_index: '' do |v|
            .section-header.sst(style="margin-top:0") 属性
            .padding
              %dl
                %dt
              %p=f.label :product_type
              %span.note 例如: 服装,电脑,家用电器
              %dd
                %select#product-type-select
                  =options_for_select types_options
                =f.text_field :product_type, class: :hide
              %dt.sst
              %p=f.label :vendor
              %span.note 产品制造商。例子：IBM，TCL
              %dd
                %select#product-vendor-select
                  =options_for_select vendors_options
                =f.text_field :vendor, class: :hide
              %table.data2.sst.ssb
                %tbody
                  %tr
                    %th.clean=v.label :price
                    %th.clean=v.label :weight
                    %th.clean
                      =v.label :compare_at_price
                      %span.note 非必填
                  %tr
                    %td
                      =v.text_field :price, style: 'width: 50px'
                      元 
                    %td
                      =v.text_field :weight, style: 'width: 50px'
                      kg
                    %td
                      =v.text_field :compare_at_price, class: :requires_shipping_relate, style: 'width: 50px'
                      元 
                  %tr
                    %td(colspan="3")
                      -#check_box包含hidden require_shipping，会产生多个variant
                      -#=v.check_box :requires_shipping, class: :requires_shipping, id: :variant_requires_shipping
                      =check_box_tag 'product[variants_attributes][][requires_shipping]', 1, product.variants.first.requires_shipping
                      =v.label :requires_shipping, nil, for: :variant_requires_shipping
                      %span.hint 服务性质或者数字之类的商品不需要勾选
              #options
                %h3 商品选项
                %p.note.sb 选项可以让顾客区分商品的各种款式.
                %input#enable-options{name:"create-options", type:"checkbox", checked:params['create-options']}
                %label(for="enable-options")
                  此商品有
                  %strong 多个
                  不同的款式.
                %p.note.ssb(style="padding-left: 20px") 例如: 大小 和 颜色
                #create-options-frame.hide
                  %table#product-properties.data2(cellpadding="0" cellspacing="0")
                    %tbody
                      %tr
                        %th.clean(style="width: 180px;") 选项名称
                        %th.clean(style="width: 170px;") 默认值
                      %tr#add-option-bt.edit-option
                        %td
                          %a.add-option(href="#") 新增另一个选项
                          %br/
                          %span.note 例如：颜色、大小
                        %td &nbsp;
            .section-header 库存
            .padding
              %dl.ssb
                %dt
                  %label(for="variant_sku") SKU
                  %span.note (非必填)
                  %br/
                  %span.note 唯一标识符.
                %dd=v.text_field :sku
                %dd
                  %p=v.select :inventory_management, inventory_managements, {}, class: :inventory_management
                  %div
                    .inventory-option.st.inventory_management_relate.hide
                      %p.soft
                        =v.label :inventory_quantity
                        =v.text_field :inventory_quantity, class: [:small, :r, 'digit-2'], size: 6
                %dd.inventory_management_relate.hide
                  %p.soft
                    -inventory_policies.each do |policy|
                      =v.radio_button :inventory_policy, policy.code
                      %label.inline(for="product_variants_attributes__inventory_policy_#{policy.code}")=policy.name
                      %br/
          .section-header 标签
          .padding
            %dl(style="margin: 0;")
              %dd#multi-options
                %p.note 标签是用来帮助顾客寻找他们所需商品的关键词,关键词之间用逗号(,)隔开。
                =f.text_field :tags_text, size: 50
              %dd
                %p.note{:style => "clear: both"} 最近使用过的标签，单击增加。
                %ul#tag-list.nobull.st
                  -tags.each do |tag|
                    %li
                      %a(href="#")=tag.name
                .cl
          .section-header.sst 集合
          .padding
            %dl(style="margin: 0;")
              %dd
                %p.note 选择此商品所属的自定义集合:
                %ul.nobull.pgroup.clearfix=render partial: "collection", collection: custom_collections
        / product images
        %td(style="width: 275px; padding: 0pt 0pt 0pt 10px;")
          %h3.section-header(style="margin-bottom: 0") 商品图片
          #product-image-area.group(style="border-bottom: none; padding-top: 0")
            #pending-files.hide
            #file-selectors.hide
            %ul#attachments.nobull
              %li#no-product-images-msg.item.note.c
                %img.sb(alt="No_product_image" src="/images/other/no_product_image.gif")/
          #upload-area
            %h4.st 上传图片
            %p.note 允许上传文件类型( .gif, .jpg, .jpeg, .png)
            %p#file-input.st.sb
              =f.fields_for :photos do |p|
                =p.file_field :product_image
  %p.btns.cl
    =f.submit "保存", id:"create-product-btn", class: :btn
    =w('or')
    =link_to w('cancel'), products_path
/ end div.main
/ end div.container
-#商品选项
%script(id="option-item" type="text/x-jquery-tmpl")
  %td
    %select.option-selector=options_for_select options
    %input.hide(name="product[options_attributes][][name]" size="16" style="margin-top: 5px;" type="text" value="${name}")
  %td
    %input(name="product[options_attributes][][value]" size="16" type="text" value="${value}")
    {{if destroyable}}
    %span.fr.sr(style="margin-top: 5px")
      %a.del-option(href="#")=image_tag 'admin/icons/trash.gif', alt: '删除'
    {{/if}}

:javascript
  App.init = function(){
    new App.Controllers.Products();
    Backbone.history.start();
  }
  App.product_options = new App.Collections.ProductOptions();
  App.product_options.refresh(#{product.options.to_json(methods: :value, except: [ :created_at, :updated_at ])});
  //显示商品选项
  new App.Views.ProductOption.Index({collection: App.product_options})
