-payment = order.payment
-address = order.shipping_address
%p==您选择的付款方式为: #{payment.payment_type.name}
%p==点击确认支付，将前往支付中心进行付款操作！
- payment_service_for order.token, payment.account, service: :alipay, html: { id: 'payment-form', method: :get } do |service|
  - if payment.direct? # 即时到帐
    - service.total_fee order.total_price
  - else # 担保交易或者双功能
    - service.price order.total_price
    - service.quantity 1
    - service.discount 0
    - service.agent payment.account
    - service.logistics type: 'EXPRESS', fee: 0, payment: 'BUYER_PAY'
    - service.receive name: address.name, address: address.info, zip: address.zip, phone: address.phone if address # 除非是虚拟商品
  - service.seller email: payment.email
  - service.notify_url notify_order_url
  - service.return_url done_order_url
  - service.charset "utf-8"
  - service.service payment.service
  - service.payment_type 1
  - service.subject "#{shop.name}商品"
  - service.sign payment.key
.actions
  = button_to_function "确认支付", "$('#payment-form > div').remove();$('#payment-form').submit()",class:'btn'
  =w('or')
  =link_to w('cancel'),show_shop_url
