-line_items.each_pair do |variant, quantity|
  %tr
    %td
      %div=image_tag 'admin/no-image-thumb.gif', alt:'商品无图片...', class: :images
      %h3.plisthead(title="#{variant.product.title}")=variant.product.title
      %span.plist-line-price==#{quantity}x #{variant.price}
