-line_items.each_pair do |variant, quantity|
  %tr
    %td
      %div=image_tag variant.product.index_photo, class: :images
      %h3.plisthead(title="#{variant.name}")=variant.name
      %span.plist-line-price==#{quantity}x #{variant.price}
