#header
  #logo
    / css hook for logos
  %h1#tagline
    %span.title 谢谢您
    %span.subtitle 您的订单已经完成支付.
#main
  #content
    .group
      %p
        您的订单号为：
        %strong=@order.name
      %p
        =link_to '返回商店', @order.shop.primary_domain.url
