<html>
<head>
<meta name="TENCENT_ONLINE_PAYMENT" content="China TENCENT">
  <script language="javascript">
    window.location.href='<%= tenpay_done_order_url(token: @order.token) %>';
  </script>
</head>
<body></body>
</html>
