{% layout settings.customer_layout %}

<div id="template">
    <div class="template_header">
      <h2 class="title">Reset Account Password</h2>
      <p class="note">Enter a new password for {{ email }}</p>
    </div>

    {% form 'reset_customer_password' %}
      {{ form.errors | default_errors }}

      <div id="password" class="clearfix large_form">
        <label class="large" for="password">Password</label>
        <input type="password" value="" name="customer[password]" id="customer_password" class="large password" size="16" />
      </div>
      <div id="password_confirm" class="clearfix large_form">
        <label class="large" for="password_confirmation">Password Confirmation</label>
        <input type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" class="large password" size="16" />
      </div>
      <div class="action_bottom">
        <input class="btn" type="submit" value="Reset Password" />
      </div>
    {% endform %}
</div>
