!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    = stylesheet_link_tag "dialog","message_block"
    = javascript_include_tag 'jquery','rails.validations'
    = csrf_meta_tag
    /[if IE 6]
      = stylesheet_link_tag "ie6"
  %body
    =yield
    #footer
