!!!
%html(lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml")
  %head
    %meta(content="text/html; charset=utf-8" http-equiv="Content-Type")/
    %meta(content="no" http-equiv="imagetoolbar")/
    %meta(content="true" name="MSSmartTagsPreventParsing")/
    %meta(content="Hosted e-commerce with ShopQi the easy way to start your own online store." name="description")/
    %meta(content="store shop ecommerce e-commerce sell online selling goods shopping cart design easy" name="keywords")/
    %meta(content="width=device-width initial-scale=1.0" name="viewport")/
    %link(href="/images/favicon.png" rel="shortcut icon" type="image/x-icon")/
    %link(href="/images/icons/apple-touch-icon.png" rel="apple-touch-icon-precomposed")/
    %title ShopQi &mdash; 建立您的网上商店
    = stylesheet_link_tag "master","mobile"
    =yield :stylesheets
    /[if IE 6]
      = stylesheet_link_tag "ie6"
    /[if IE 7]
      = stylesheet_link_tag "ie7"
    =yield :javascripts
    =csrf_meta_tag
  %body(style=@body_style)
    #wrapper
      #masthead
        .content
          %a(href="/")
          %a.logo-shopqi(href="/")=image_tag 'logos/shopqi_bag.gif'
          %ul#nav-primary
            %li(class=@current_tour)=link_to '特色演示', tour_intro_path
            -#
              %li
                %a(href="/examples/") 成功案例
            %li(class=@current_faq)=link_to '常见问题', faq_path
            %li(class=@current_signup)=link_to '价格 & 注册', services_signup_path
            %li.sub-nav
              %ul.utilities
                %li.megadropdown
                  %a(href="#") 资源
                  %ul
                    -#
                      %li
                        %a(href="http://support.myshopqi.com/" title="Welcome - ShopQi Support")
                          %strong> 支持
                          联系ShopQi
                      %li
                        %a(href="http://wiki.shopqi.com/" title="Main Page - ShopQi Wiki")
                          %strong> 文档
                          学习ShopQi相关文档
                      %li
                        %a(href="http://forums.shopqi.com/" title="ShopQi Community")
                          %strong> 论坛
                          ShopQi社区
                      %li
                        %a(href="http://apps.shopqi.com/" title="ShopQi Application Store")
                          %strong> 应用
                          选择商店应用程序
                    %li
                      =link_to Setting.theme_store_url do
                        %strong> 外观
                        选择商店外观
                %li.last
                  %a(href="/login/") 登录
      =yield
      #footer
        #footer-wrapper
          .content
            .col-3
              %h3 功能
              %ul
                %li
                  %a(href="#") 概览
            .col-3
              %h3 资源
              %ul
                %li
                  %a(href="#") ShopQi百科
            .col-3
              %h3 ShopQi
              %ul
                %li
                  %a(href="http://blog.shopqi.com/") 博客
            .col-3.contact-us.last
              %h3 联系我们
              %ul
                %li
                  %img(alt="Phone16" height="12" src="/images/admin/icons/phone16.gif" width="12")/
                  0755-26748888
          #copyright.center.clear
            %p © 2011-2011 ShopQi Inc. | ShopQi - 独立网店平台.
            %p *ShopQi is a registered trademark of ShopQi Inc.
