#banner
  .content
    %h1{:style => "font-family:hevletica, arial, sans-serif"} Sign up
.content.subpage
  #signup
    =form_for(resource, :url => registration_path(resource_name)) do |f|
      =message_block :on => [:user,:shop]
      %div{:style => "margin:0;padding:0;display:inline"}
      #info
      #top-section.section
        %h3 商店名
        %p
          %input#shop_name{:name => "user[shop][name]", :size => "22", :style => "font-size: 20px; width: 400px", :type => "text"}/
        .box.note{:style => "width: 350px; text-align: justify; float: right; display: none"}
          You can choose the myshopify.com address where you and others will access your store.
          You
          %strong can not
          change this later but you can add additional addresses to your store
          such as
          = succeed "." do
            %em www.example.com
          More about this in the shopify administration pages.
        %label#subdomain-label{:for => "domain_subdomain"} Your Shopify web address
        #domain-field
          %label#protocol{:for => "domain_subdomain"} http://
          %input#domain_subdomain.large{:name => "user[shop][permanent_domain]", :size => "22", :type => "text"}/
          %span#spinner{:style => "display: none"}
            %img{:alt => "Spinner", :src => "/images/spinner.gif"}/
          %span{:style => "display: none"}
            %select#domain_domain{:name => "user[shop][permanent_domain]"}
              %option{:value => ".shopqi.com"} .shopqi.com
          %span#myshopify .shopqi.com
          #preview-availability
            #ajax-notice{:style => "display:none;"}
            %span#domain-available
        %p.hint.clear
          if you have your own domain such as
          %strong www.example.com
          you can add it later
      .section
        %h3{:style => "margin-bottom: 24px"} About You
        .sidebox
        .multi-input.clearfix
          %span
            %label.inlined{:for => "user_name"} 姓名
            %input#user_first_name.input-text.medium{:name => "user[name]", :size => "18", :type => "text"}/
        .clear
          %label.inlined{:for => "shop_address1"} 详细地址
          %input#shop_address1.input-text.full{:name => "user[shop][address]", :size => "38", :type => "text"}/
        .multi-input.clearfix
          %span
            %label.inlined{:for => "shop_city"} 城市
            %input#shop_city.input-text.large{:name => "user[shop][city]", :size => "20", :type => "text"}/
        %label.inlined{:for => "shop_phone"} 电话
        %input#shop_phone.input-text.large{:name => "user[shop][phone]", :size => "18", :type => "text"}/
        %h4 Your Login
        %label.inlined{:for => "user_email"} 邮箱
        %input#user_email.input-text.large{:name => "user[email]", :size => "26", :type => "text"}/
        .toggle
          %label.inlined{:for => "user_password"} 密码
          %input#user_password.input-text.large{:autocomplete => "off", :name => "user[password]", :size => "26", :type => "password", :value => ""}/
        .toggle
          %label.inlined{:for => "user_password_confirmation"} 确认密码
          %input#user_password_confirmation.input-text.large{:autocomplete => "off", :name => "user[password_confirmation]", :size => "26", :type => "password", :value => ""}/
        %input#auth_style{:name => "auth_style", :type => "hidden", :value => "login"}/
      .block.cl
        %h3 Terms and conditions
        %dl
          %dd#user-agreement
            %p You must agree to the Shopify terms and conditions before you can create your account.
            %p
              %input{:name => "shop[terms_and_conditions]", :type => "hidden", :value => "0"}/
              %input#shop_terms_and_conditions{:name => "shop[terms_and_conditions]", :style => "display: inline; margin-bottom: 0", :type => "checkbox", :value => "1"}/
              %label#terms-and-conditions-label{:for => "shop_terms_and_conditions"}
                I have read and agree to the
                %a{:href => "https://www.shopify.com/services/signup/new/basic#", :onclick => "window.open('http://app.shopify.com/legal/terms.html','popup','width=800,height=600,directories=no,location=no,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no');return false;; return false;"} Terms &amp; Conditions
        %p.btns{:style => "margin-bottom: 0; clear: left"}
          %input{:name => "plan", :type => "hidden", :value => "basic"}/
          %input{:name => "ref", :type => "hidden", :value => ""}/
          %input#shop_submit{:name => "commit", :type => "submit", :value => "Create my Shopify store"}
/ content
#push
