#banner
  .content
    %h1{:style => "font-family:hevletica, arial, sans-serif"} Sign up
.content.subpage
  #signup
    =form_for(resource, :url => registration_path(resource_name)) do |f|
      =message_block :on => [:user,:shop]
      %div{:style => "margin:0;padding:0;display:inline"}
      #info
      #top-section.section
        %h3 商店名
        %p
          =f.fields_for :shop do |s|
            =s.text_field :name, id:"shop_name",size:22, style:"font-size: 20px; width: 400px"
        .box.note{:style => "width: 350px; text-align: justify; float: right; display: none"}
          You can choose the myshopify.com address where you and others will access your store.
          You
          %strong can not
          change this later but you can add additional addresses to your store
          such as
          = succeed "." do
            %em www.example.com
          More about this in the shopify administration pages.
        %label#subdomain-label{:for => "domain_subdomain"} 二级域名
        #domain-field
          %label#protocol{:for => "domain_subdomain"} http://
          =f.fields_for :shop do |s|
            =s.text_field :permanent_domain, id:"domain_subdomain",size:22,class:"large"
          %span#spinner{:style => "display: none"}
            %img{:alt => "Spinner", :src => "/images/spinner.gif"}/
          %span#myshopify .shopqi.com
          #preview-availability
            #ajax-notice{:style => "display:none;"}
            %span#domain-available
        %p.hint.clear
          if you have your own domain such as
          %strong www.example.com
          you can add it later
        %h4 Your Login
        %label.inlined{:for => "user_email"} 邮箱
        =f.text_field :email, :id => "user_email",:size => 26, :class => "input-text large"
        .toggle
          %label.inlined{:for => "user_password"} 密码
          =f.password_field :password, :id => "user_password",:size => 26, :class => "input-text large",:autocomplete => "off"
        .toggle
          %label.inlined{:for => "user_password_confirmation"} 确认密码
          =f.password_field :password, :id => "user_password_confirmation",:size => 26, :class => "input-text large",:autocomplete => "off"
        %input#auth_style{:name => "auth_style", :type => "hidden", :value => "login"}/
      .block.cl
        %h3 Terms and conditions
        %dl
          %dd#user-agreement
            %p You must agree to the Shopify terms and conditions before you can create your account.
            %p
              %input{:name => "shop[terms_and_conditions]", :type => "hidden", :value => "0"}/
              %input#shop_terms_and_conditions{:name => "shop[terms_and_conditions]", :style => "display: inline; margin-bottom: 0", :type => "checkbox", :value => "1"}/
              %label#terms-and-conditions-label{:for => "shop_terms_and_conditions"}
                I have read and agree to the
                %a{:href => "https://www.shopify.com/services/signup/new/basic#", :onclick => "window.open('http://app.shopify.com/legal/terms.html','popup','width=800,height=600,directories=no,location=no,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no');return false;; return false;"} Terms &amp; Conditions
        %p.btns{:style => "margin-bottom: 0; clear: left"}
          %input{:name => "plan", :type => "hidden", :value => "basic"}/
          %input{:name => "ref", :type => "hidden", :value => ""}/
          %input#shop_submit{:name => "commit", :type => "submit", :value => "Create my Shopify store"}
/ content
#push
